<header id="header" class="header sticky-top">
    <div class="branding d-flex align-items-cente">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a routerLink="/home" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <!-- <li><a routerLink="/home">Home</a></li>     -->
                    <li><a routerLink="/about">About </a></li>
                    <li class="dropdown"><a href="#"><span>Licenses </span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul class="">
                            <li class="dropdown"><a routerLink="/driving"><span>Driving licence</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/food"><span>Food Licence</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/food_manufacturing"><span>Food Manufacturing Licence</span></a>
                            </li>
                            <li><a routerLink="/shop">Shop Act licence</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a routerLink="/serv"><span>All Services </span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul class="sub-menu">
                            <li class="dropdown"><a routerLink="/pan"><span>PAN Services (UTI / NSDL)</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/shop"><span> Shop Act licence</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/food"><span>Food Services (FASSI)</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/driving"><span>Driving licence</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/company"><span> Company Registration</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/gadget"><span>Gazette  Rajpatra</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/passport"><span> Passport</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/income_certificate"><span>Income certificate</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/domicile"><span>Domicile certificate</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/uddyam"><span>Uddyam Aadhar</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/voter_id"><span>Votter ID </span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/itr"><span>ITR Filing Online</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/gst_registration"><span> GST Registration</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/it_service"><span> IT Services</span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/mahavitaran"><span> Mahavitaran </span></a>
                            </li>
                            <li class="dropdown"><a routerLink="/kissan"><span> Kisan Point</span> </a>
                            </li>
                            <li class="dropdown"><a routerLink="/other"><span> Other</span></a> 
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Company Registration </span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul class="sub-menu">
                            <li class="dropdown" style="text-align: center;">
                                <span style="font-weight: 600;"><i class="bi bi-caret-down-fill"></i> INCORPORATION <i
                                        class="bi bi-caret-down-fill"></i></span>
                            </li>
                            <li><a routerLink="/incorporation_pvt_ltd" class="active">Private Limited Company</a></li>
                            <li><a routerLink="/llpRegistration" class="active">LLP Registration</a></li>
                            <li><a routerLink="/onePerson">One Person Company</a></li>
                            <li><a routerLink="/public">Public Limited Company</a></li>
                            <li><a routerLink="/section">Section 8 Company</a></li>
                            <li><a routerLink="/businessRegistration">Business Registration licence</a></li>
                            <li><a routerLink="/nidhi">Nidhi Registration licence</a></li>
                            <li><a routerLink="/india">India Subsdiary Registration</a></li>

                            <li class="dropdown" style="text-align: center;">
                                <span style="font-weight: 600;"><i class="bi bi-caret-down-fill"></i> COMPLIANCE <i
                                        class="bi bi-caret-down-fill"></i></span>
                            </li>

                            <li><a routerLink="/derector_din">Director DIN e KYC Update</a></li>
                            <li><a routerLink="/appointment_director">Appointment of Director</a></li>
                            <li><a routerLink="/removal_director">Removal of Director</a></li>
                            <li><a routerLink="/pvt_winding">Pvt. Ltd. Winding up</a></li>
                            <li><a routerLink="/llp_winding">LLP Winding up</a></li>
                            <li><a routerLink="/increase">Increase Authorized Capital </a></li>
                            <li><a routerLink="/registered_office">Registered Office Change </a></li>
                            <li><a routerLink="/change_company">Change Company Name </a></li>
                            <li><a routerLink="/MOA_pvt_ltd">MOA Amendmend of Pvt. Ltd</a></li>
                            <li><a routerLink="/MOA_public_ltd">MOA Amendmend of Public Ltd</a></li>
                            <li><a routerLink="/MOA_section8">MOA Amendmend of Section 8</a></li>
                            <li><a routerLink="/share_tranfer">Share Transfer</a></li>
                            <li><a routerLink="/jansamarth">JanSamarth Registration</a></li>
                            <li><a routerLink="/credit_analysis">Credit Management Analysis </a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Tax & Compliances </span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a routerLink="/gst">GST</a></li>
                            <li><a routerLink="/annual">Annual Compliances & Others</a></li>
                            <li><a routerLink="/payroll">Payroll Compliance</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a routerLink="/legal"><span>Legal Consultancy</span> <i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a routerLink="/onlineLegalAdvice">Online Legal Advice </a></li>
                            <li><a routerLink="/legalNotice">Legal Notice</a></li>
                            <li><a routerLink="/devorce">Advice on Divorce</a></li>
                            <li><a routerLink="/mahsul">महसूल लिगल</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/login">Login</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </div>
</header>