<section id="feature" class="p_3" >
    <div class="container-xl">
        <div class="row feature_1 text-center mb-4">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title_about" style="text-align-last: center;">All Services </h2>
                </div>
            </div>
        </div>
        <div class="row feature_2">
            <div class="col-md-3">
                <div routerLink="/pan" class="feature_2i feature_2i2 text-center border_5 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">PAN Services</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/shop" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Shop Act licence</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/food" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Food Services (FSSAI)</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/driving" class="feature_2i feature_2i2 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Driving licence</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
        </div>
        <br>
        <div class="row feature_2">

            <div class="col-md-3">
                <div routerLink="/company" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3">
                    <h5 class="mt-3">Company Registration</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/gadget" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Gazette Rajpatra</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/passport" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Passport</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/itr" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">ITR Filing Online</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
        </div>
        <br>
        <div class="row feature_2">
            <div class="col-md-3">
                <div routerLink="/professional" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3">
                    <h5 class="mt-3">Professional Services</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/mahavitaran" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Mahavitaran</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/kissan" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Kisan Point</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/other" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Other</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
        </div>
        <br>
        <div class="row feature_2">
            <div class="col-md-3">
                <div routerLink="/tred" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3">
                    <h5 class="mt-3">Trademark Registration Online</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/income_certificate" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Income Certificate</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/gst" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">GST Services</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/import" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Import Export Code Registration</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
        </div>
        <br>
        <div class="row feature_2">
            <div class="col-md-3">
                <div routerLink="/digital" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3">
                    <h5 class="mt-3">Digital Signature Certificate</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/legal" class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">Legal Consultancy</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
            <div class="col-md-3">
                <div routerLink="/mahsul" class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
                    <h5 class="mt-3">महसूल लिगल Consultant</h5>
                    <hr class="line mx-auto">
                </div>
            </div>
        </div>
    </div>
</section>
