
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Change Company Name</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/change_company">Change Company Name</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Change / Modify your Company’s Name through our Expert CA Panel |
                    Completely Online

                </h2>
                <p>Get Complete Guidance from the Country’s Recommended CA / CS Panel for your Company’s Name Changing
                    process | Quickest Service at an Unbeatable Price!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-9">
                    <img class="img-fluid" src="assets/img/services/com/9.jpg" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is a Registered Name for a Company?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>In the time of incorporation, a Business Entity is required to be registered
                                            with a Unique Name with the Ministry of Corporate Affairs (MCA) and the
                                            Registrar of Companies (ROC), which is known as the Registered Name for the
                                            particular Entity.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-2"><span>02</span>Which Act of the Indian Govt.
                                        oversees the Company Name Change procedure? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>In India, the procedure for changing the name of a registered company is
                                            overseen by Section 13(2) of the Companies Act, 2013 and Rule 29(2) of the
                                            Companies (Incorporation) Rules 2014 with the administrative supervision of
                                            the Registrar of Companies (ROC).</p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-3"><span>03</span>Will a Company lose its Legal
                                        Identity by changing its existing Name?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>By changing the already registered Name, the Constitution of the Entity is
                                            not modified. Hence, the Legal Identity of the particular company is not
                                            affected by this process.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-4"><span>04</span> What is RUN in the Company’s
                                        Name Changing process?<i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                        <p> RUN or Reserve Unique Name is a web service of the Ministry of Corporate
                                            Affairs to check the availability / uniqueness of the proposed Name or
                                            reserving the Name with the Registrar of Companies (ROC).
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <hr>
    <section>
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px;">Document Required
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-md-1 col-xs-3">
                            <div class="food__cont food__cont1">
                                <!-- <img src="assets/img/services/com/1.svg" class="food__img food__img1" alt="canteen"> -->
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/services/com/1.svg" class="food__img food__img1" alt="canteen"> 
                                
                                <h6><br> Company Incorporation Certificate</h6>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/services/com/2.svg" class="food__img food__img1" alt="club">
                                <h6><br>Suggested New Names for the Company</h6>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/services/com/3.svg" class="food__img food__img1" alt="dhaba"> 
                                <h6><br>List of the Company’s Director(s) and Shareholders</h6>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/services/com/4.svg" class="food__img food__img1" alt="Distributor"> 
                                <h6><br>Digital Signature of the Director(s)</h6>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-3">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/services/com/5.svg" class="food__img food__img1"
                                    alt="Food-Processor"> 
                                    <h6><br>Company’s MOA & AOA statement</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
