<!-- Page Title -->
<div id="pagetital" class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">PAN Services (UTI / NSDL) </h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" >Home</a></li>
                <li><a routerLink="/pan" class="active">PAN Card Services</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>PAN Services Form</h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="info">
                        <img class="img-fluid" src="assets/img/services/pann.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_image_text"> <br>
                        <p> &nbsp;&nbsp; At our company, we streamline the process of opening a PAN card with a focus on simplicity
                            and efficiency. <br> By providing clear, step-by-step instructions and ensuring all necessary
                            documentation is easily accessible, we make the entire procedure hassle-free. <br> Our team is
                            dedicated to assisting you with each requirement, from filling out forms to submitting the
                            necessary documents, ensuring that you can complete your PAN card application smoothly and
                            quickly. <br> Our approach is designed to minimize paperwork and maximize convenience, allowing
                            you to focus on your core tasks without getting bogged down by administrative details.

                        </p>
                        <div class="button-container">
                            <button type="button" routerLink="/individual_pan" class="subform centered-button">Apply for
                                Individual Pan Card  </button> <br>
                        </div>
                        <div class="button-container">
                            <button type="button" routerLink="/company_pan" class="subform centered-button">Apply for
                                Comapany / Trust (संस्था) Pan Card </button> <br>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->