
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">ITR Filing Online</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li><a routerLink="/itr">ITR Filing Online</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>


    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Income Tax Return | e-Filing Anywhere Anytime through <span class="green">
                        Make Easy </span> <span class="red">Documents</span>
                </h2>
                <p>Filing income tax return is mandated by the Government of India on individuals who earn a specified
                    amount of annual income. <br> One must File ITR within the Due Date. This is called ITR Filing Procedure.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What happens if I delay in ITR filing? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>There is no relaxation if a taxpayer faces late filing of returns in such
                                            cases penalty would be levied on:
                                        </p>
                                        <p><span style="font-size:15px; color: black;">Delay in Filing : </span>
                                            Interest imposed u/c 234 Income Tax Interest
                                            where a penalty is levied 1 % on the outstanding tax amount and must be paid
                                            from the first day after the due date of filing the return until the date of
                                            the actual filing of the return.</p>
                                        <p><span style="font-size:15px; color: black;">Refunds could Delay : </span>If
                                            you are likely to get a refund from the
                                            government for excess in payment. Then you must file your income tax return
                                            before the due date.</p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Indiviual/Salaried Person <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            <span style="color: black;">#</span> Pan card and aadhaar card
                                        </p>
                                        <p><span style="color: black;">#</span>All bank statement</p>
                                        <p><span style="color: black;">#</span>TDS certificate(form 16-for TDS on
                                            salary)</p>
                                        <p><span style="color: black;">#</span>TDS certificate (form 16a-for TDS on
                                            non-salary) like professional fees, <br> rent, interest etc.</p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        Private Limited Company <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <p>
                                            • Directors pan and aadhaar card<br><br>
                                            • Company pan card<br><br>
                                            • Profit and loss statement<br><br>
                                            • All bank statements <br><br>
                                            • Investment proofs
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4"
                                        class="collapsed"><span>04</span>
                                        LLP Company <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <p>
                                            • LLP pan, address details, date of registration proofs<br><br>
                                            • Partner pan, aadhaar and address details<br><br>
                                            • Profit and loss statement<br><br>
                                            • Balance sheet <br><br>
                                            • Bank statements
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Income Tax Return Filing
                </h2>
                <!-- <h5 style="font-weight: 550;">Our Expert consultation will help you to get the Trademark registration
                    online seamlessly from the
                    government.</h5> -->
                <p>Every responsible Indian citizen is required by law to file income taxes with the government.
                    However, you may file your income tax online using today's technologies. This procedure is quick and
                    precise, with no time limits.</p>
                <p>However, submitting an income tax return in India via the official website necessitates the
                    completion of ITR forms. Individuals must complete a different ITR form than salaried employees.
                    This is an important activity since the income tax agency has a variety of documents designated ITR
                    1 through ITR 7. Each form serves a unique purpose and belongs to a distinct category.</p>
            </div>
        </div>
    </section>
</main>

