<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">GST Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/gst_registration" class="active">GST Registration</a></li>
                <li class="current"><a routerLink="/gst_return">GST Return filing</a></li>
                <li><a routerLink="/gst_nill">GST Nil Return filing</a></li>
                <li><a routerLink="/gst_modification">GST Modification</a></li>
                <li><a routerLink="/gstr">GSTR-9 Return filing</a></li>
                <li><a routerLink="/gst_ult">GST LUT filing</a></li>
                <li><a routerLink="/gst_e_way">GST E-Way bill</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">GST Registration with the Experts of <span class="green"> Make Easy </span>
                    <span class="red">Documents</span> | One Day Process
                </h2>
                <p>Get 360° Online Assistance from India’s recommended Business Taxation Experts in GST Registration to
                    Filing the Mandatory GST Returns Annually

                </p>
            </div>
            <div>
                <img class="img-fluid" src="assets/img/services/gst/a.png" alt="">
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Benefits of Having GST Number <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p> <span style="color: black; font-size: 15px;">Become more competitive in
                                                Market :</span> <br>
                                            • Interstate trading is impossible without having a GST number. It is
                                            possible
                                            only after registering the business under GST.
                                        </p>

                                        <p><span style="color: black; font-size: 15px;">Expansion of business online
                                                :</span> <br>
                                            • You must acquire a GSTIN if you are willing to compete with big brands
                                            like Amazon, Flipkart, Shopify, Paytm on ecommerce platform or through your
                                            own website.
                                        </p>
                                        <p> <span style="color: black; font-size: 15px;">Get Input Tax Credit :</span>
                                            <br>
                                            • If you have a GST Number, you can avail Input Tax Credit while filing for
                                            GST return.
                                        </p>

                                        <p><span style="color: black; font-size: 15px;">Interstate sales without
                                                restrictions
                                                :</span> <br>
                                            • You can sell your products in other states only after completing the
                                            registration for GST.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Documents required for GST registration <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            The following documents are required to register of GST (Goods and Service Tax) –
                                        </p>
                                        <p>
                                            • PAN Card
                                            <br>
                                            • Aadhaar Card
                                            <br>
                                            • Phone number and Email address
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>