<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Tax Planning & Consultation</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/annual" class="active">Annual Compliance & Filing</a></li>
                <li class="current"><a routerLink="/tax_planing">Tax Planning & Consultation</a></li>
                <li><a routerLink="/income_tax">Income Tax Returns</a></li>
                <li><a routerLink="/online_ac">Online Accountant</a></li>
                <li><a routerLink="/csr">12A-80G-CSR</a></li>
                <li><a routerLink="/project_repo">Project Report</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Get Complete Tax Planning & Consultation at your Fingertips from our Tax &
                    Financial Advisors!
                </h2>
                <p>Let the Country’s Most Recommended Tax Consultant panel Analyze, Manage & Help Reduce your Tax
                    Liability following the relevant Income Tax Act’s provisions

                </p>
            </div>
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-9">
                    <img class="img-fluid" src="assets/img/services/gst/13.png" alt="">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is the Tax Planning process? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p> Tax planning is the legal procedure of reducing the payable tax liabilities
                                            in a particular financial year. It includes the course of actions such as
                                            managing tax implications, deductible taxes, and a proper planning to
                                            identify the amount of tax due. It plays a critical role for the budget
                                            efficiency as well.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Who is a Tax Advisor? / Tax Planner / Financial Planner? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>In the Business Accounting terminology, the Tax Advisors are the financial
                                            experts specialized in any Tax-related instances. Be it filing an individual
                                            tax or the annual compliance filing for an organization, financial tax
                                            consultants play a huge role in tax planning and reducing the payable tax
                                            amount while following the Act’s provisions.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        Who will manage my Tax Planning procedure? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>Our team consists of financial advisors, taxation experts, financial
                                            planners, and the qualified CAs, will manage the complete financial affairs
                                            of an individual or organization to manage the Tax Planning method.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4"
                                        class="collapsed"><span>04</span>
                                        What are the Responsibilities of our Tax Planners &amp; Advisors? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                        <p>• Planning & Preparation of your Tax Returns  <br>
                                           • Proper maintenance of tax records and receipts  <br>                     
                                           • Advice on legal issues and formalities <br>
                                           • Arranging & filling out taxation forms <br>
                                           • Communication with taxation authorities <br>
                                           • Calculating the liable tax amounts <br>
                                           • Gathering information from in-house & external sources <br>
                                           • Use of contemporary Technologies <br>
                                           • Keep updating about new regulations
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5"
                                        class="collapsed"><span>05</span>
                                        Benefits of availing Tax Consultancy from <span class="green" style="color: #00B424;font-size: 15px;">
                                            Make Easy</span><span class="red" style="color: #FF3308;font-size: 15px;">Documents</span>™ <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                                        <p>• Complete guidance from the country’s recommended Taxation Experts <br>
                                           • Time-to-time evaluation to Minimize Tax Liability <br>
                                           • Proper communication with the Taxation Authority <br>
                                           • Keep tracking of the Tax Laws and Practices <br>
                                           • Keeping the Clients Compliant with Tax Obligations <br>
                                           • Daily analysis and research on tax litigation <br>
                                           • Helping the clients with proper understanding of regulation <br>
                                           • Preparing various documents and records <br>
                                           • Structuring the financial affairs to minimize tax liability <br>
                                           • Customer Support available in 6 different languages including English <br>
                                           • Quickest Service at an Unbeatable Price <br>
                                           • Call, E-mail, Chat Support
                                        </p> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>