<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">About Us</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about"> About Us </a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h4 style="font-size: 22px;">"<span class="green"> Make Easy </span> <span class="red">Documents </span>
                    simplifies your paperwork with streamlined
                    solutions, ensuring efficiency and
                    peace of mind."</h4><br>
                <img src="/assets/img/about.webp" class="img-fluid rounded-4 mb-4" alt="">

                <div class="container section-title" data-aos="fade-down">
                    <h2 style="font-size: 23px;">VISION & MISSION</h2>
                </div>
                <p>
                    <span class="green"> Make Easy </span> <span class="red">Documents</span> is a company,
                    providing legal help to the customer with ease and with a motive to resolve their issues at a go.
                    Our company vision is to solve the customer issue smoothly, so that trust is built between our
                    clients and us. “We assure our clients with the best provided service with a good quality, to create
                    better everyday life for people”
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        <span class="green"> Make Easy </span> <span class="red">Documents</span> . is registered under
                        the Companies Act,
                        2014, recognised by the
                        Govt. of India, which is specialized in providing legal help and providing people legal
                        information just in their hands to easily use it.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Our core team consists of skilled and
                                proficient qualified Advocates, along with a diligent team
                                of other professionals,all under one roof. </span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>They provide solution to all the individual,
                                business person,</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>corporate body and others to get better help
                                for the issues faced by them in
                                their everyday life.</span></li>
                    </ul>

                    <div class="position-relative mt-4">
                        <img src="assets/img/vision.jpg" class="img-fluid rounded-4" alt="">
                        <a href="https://youtu.be/ZBJ-WLHGguA?si=cSYhGfE7IRfJawzl" class="glightbox play-btn"></a>
                    </div> <br>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">

            </div>
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="250">
                <div style="text-align: center;">


                    <div class="container section-title" data-aos="fade-down">
                        <h2 style="font-size: 23px;">OUR AIM</h2>
                    </div>
                    <p class="fst-italic">
                        <span class="green"> Make Easy </span> <span class="red">Documents</span> . We provide with the
                        best of services to
                        all our clients and understand their needs and problems and so that accordingly we can file the
                        complaint with sincerity, thus helping them to resolve their issues, in no time.
                    </p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</section><!-- /About Section -->