<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Pvt. Ltd. Winding up</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/pvt_winding">Pvt. Ltd. Winding up</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Apply for Complete Closure of Private Limited Company by India’s Recommended
                    CA Panel
                </h2>
                <p>Get 360° Online Assistance for Fast Approval from the Govt. of India and Registrar of Companies (ROC)
                    for Pvt. Ltd Company Closing Down / Winding Up Process.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid" src="assets/img/services/com/4.jpg" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <p> <br>
                                At different stages of the company life cycle, a director or the shareholders may decide
                                to close down the organization for numerous reasons. Get the country’s recommended CA
                                Panel’s assistance from Online Legal India to complete the required steps following the
                                provisions of Section 2(94A) in the Companies Act, 2013 and the Registrar of Companies
                                (ROC).
                            </p>
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Who can Wind Up a Private Limited Company?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>As per the Companies Act, 2013 and the ROC, the winding up process can be
                                            initiated by various parties of the concerned organization:
                                            <br>

                                            • The Company itself <br>
                                            • The Director(s) of the Company <br>
                                            • Shareholders of the Company <br>
                                            • A Business Creditor / Contributor of the Company <br>
                                            • State / Central Govt. / ROC (in case of conducting any illegal actions or
                                            fraud by the Company) <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-2"><span>02</span>Benefits of Carrying Out
                                        Company Winding Up Process through Us <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            • Country’s most Efficient CA panel will be Managing Company Winding Up
                                            Procedure <br>
                                            • In-house Advisory Panel always available for in-depth Business & other
                                            assistance <br>
                                            • Step-by-step Online guidance to get completed with Company Winding Up
                                            Process <br>
                                            • Free Consultations Available at Just a Click! <br>
                                            • Quickest Service at an Unbeatable Price <br>
                                            • Call, E-mail, Chat Support available in 6 different languages including
                                            English <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-3"><span>03</span>Reasons for Winding Up a Pvt
                                        Ltd Company <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>• Economic Condition <br>
                                            • Low Profits <br>
                                            • Tough Competition <br>
                                            • Management Issue <br>
                                            • Health Issues of Director <br>
                                            • Lack of Capital <br>
                                            • Unanticipated Event <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-4"><span>04</span>Penalties for Ignoring
                                        Conducting Pvt Ltd Company Closure Process <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                        <p>If a private limited company wishes to close down all its business
                                            operations, bank accounts and winding up the organization, the management of
                                            the organization (Including the directors, agents, investors, shareholders,
                                            etc.) is required to follow the procedure of the Companies Act, 2013, and
                                            the Registrar of Companies (ROC).
<br>
                                            Failing to do so, the liable individual would face civil or criminal offense
                                            as per Section 284 - 356 of the Act. The law enforces imprisonment of upto 5
                                            years or a fine of Rs. 10 Lakhs or both.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>