<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">GST Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/gst_registration">Go Back  <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">GST Registration
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="businessFullName" class="required">Business mobileNumberFullName </label>
                            <input type="text" name="businessFullName" placeholder=" - - -  " class="form-control" id="businessFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mobileNumber" class="required">Mobile Number</label><br>
                            <input type="text" name="mobileNumber" placeholder="- - - " class="form-control" id="mobileNumber"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="panNumber" class="required">Pan Number</label><br>
                            <input type="text" name="panNumber" placeholder="- - - " class="form-control" id="panNumber"
                                required>
                        </div>
                        
                                                
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email">Email Id</label><br>
                            <input type="text" name="email" placeholder="- - - " class="form-control" id="email">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="businessStartDate" class="required">Business Start Date</label><br>
                            <input type="text" name="businessStartDate" placeholder="- - - " class="form-control" id="businessStartDate"
                                required>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="natureOfBusiness">Nature Of Business</label>
                            <input type="text" name="natureOfBusiness" placeholder="- - - " class="form-control" id="natureOfBusiness"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharCard" class="required">Aadhar Card
                            </label>
                            <input type="file" name="aadharCard" placeholder=". . ." class="form-control"
                                id="aadharCard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="panCard" class="required">Pan Card
                            </label>
                            <input type="file" name="panCard" placeholder=". . ." class="form-control"
                                id="panCard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="photo" class="required">Photo
                            </label>
                            <input type="file" name="photo" placeholder=". . ." class="form-control"
                                id="photo" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="signature" class="required">Signature
                            </label>
                            <input type="file" name="signature" placeholder=". . ." class="form-control"
                                id="signature" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="electricityBill" class="required">Electricity Bill
                            </label>
                            <input type="file" name="electricityBill" placeholder=". . ." class="form-control"
                                id="electricityBill" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="shopActLicense" class="required">Shop Act License
                            </label>
                            <input type="file" name="shopActLicense" placeholder=". . ." class="form-control"
                                id="shopActLicense" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rentAggreement" class="required">Rent Aggreement
                            </label>
                            <input type="file" name="rentAggreement" placeholder=". . ." class="form-control"
                                id="rentAggreement" required>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->