<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Comapany / Trust (संस्था) Pan Card</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/pan">Go Back <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Comapany / Trust (संस्था) Pan Card
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="companyFullName" class="required">Company Full Name </label>
                            <input type="text" name="companyFullName" placeholder=" - - -  " class="form-control" id="companyFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyNameAsPerPancard" class="required">Company Name As Per Pancard</label>
                            <input type="text" name="companyNameAsPerPancard" placeholder=" - - -  " class="form-control"
                                id="companyNameAsPerPancard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ownerFullName" class="required">Owner Full Name</label><br>
                            <input type="text" name="ownerFullName" placeholder="- - - " class="form-control" id="ownerFullName"
                                required>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-md-4">
                            <label for="email">Email</label><br>
                            <input type="text" class="form-control" placeholder=" - - - " name="email" id="email"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyAddress">Company Address</label><br>
                            <input type="text" name="companyAddress" placeholder="- - - " class="form-control"
                                id="companyAddress">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="pincode">Pincode</label><br>
                            <input type="text" name="pincode" placeholder=" - - - " class="form-control"
                                id="pincode">
                        </div> <br>
                        
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="gender" style="padding-bottom: 10px; ">Gender</label><br>
                            <input type="radio" name="gender" value="male"> Male &nbsp;
                            <input type="radio" name="gender" value="female"> Female &nbsp;
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                        <div class="form-group col-md-3">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="date" name="dateOfBirth" placeholder="Date of Birth" class="form-control"
                                id="dateOfBirth" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="mobileNumber" class="required">Mobile Number</label><br>
                            <input type="text" name="mobileNumber" placeholder=" - - - " class="form-control" id="mobileNumber"
                                required>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label for="companyRegisterNumber">Company Register Number</label><br>
                            <input type="text " class="form-control" placeholder=" - - - " name="companyRegisterNumber"
                                id="companyRegisterNumber" required>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharCard" class="required">Adress Card </label>
                                <input type="file" name="aadharCard" placeholder=". . ." class="form-control"
                                    id="aadharCard" required>
                        </div> 
                        <div class="form-group col-md-4">
                            <label for="signature" class="required">Signature</label>
                            <input type="file" name="signature" placeholder=". . ." class="form-control" id="signature"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="photo">Photo </label><br>
                            <input type="file" name="photo" class="form-control" id="photo" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="registerCertificate">Register Certificate </label><br>
                            <input type="file" name="registerCertificate" class="form-control" id="registerCertificate" required>
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->