<!-- Page Title -->
<div id="pagetital" class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Trademark Registration Online </h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a href="#">Trademark Registration Online</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Trademark Registration</h2>
                <h5 style="font-weight: 550;">Our Expert consultation will help you to get the Trademark registration
                    online seamlessly from the
                    government.</h5>
                <p>Trademark Registration gives the owner an exclusive right to protect the Logo, Symbol, and Words as
                    the identity of the Brand. <br> To Protect your brand with our trademark registration services.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>
                            

                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Trademark Symbols <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <br>
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-fluid" src="assets/img/services/t11.png" alt="">
                                            </div>
                                            <div class="col-3">
                                                <img class="img-fluid" src="assets/img/services/t12.png" alt="">
                                            </div>
                                            <div class="col-3">
                                                <img class="img-fluid" src="assets/img/services/t13.png" alt="">
                                            </div>
                                            <div class="col-3">
                                                <img class="img-fluid" src="assets/img/services/t14.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        What is the difference between ™ and ®? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            When there is a TM on the brand name or logo, it indicates that the
                                            trademark application has been filed and the registration is under process.
                                            An applicant can use the TM beside his brand name or logo once the
                                            application is filed. He can use it until the registration is done. After
                                            completion of registration, the TM gets replaced by ® which means the
                                            trademark registration is completed and it is valid for 10 years.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        Who Can Obtain a Trademark <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <div class="row">
                                            <div class="box col-3">
                                                <img class="img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>INDIVIDUAL</p>
                                            </div>
                                            <div class="box col-3">
                                                <img class="img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>JOINT OWNERS</p>
                                            </div>
                                            <div class="box col-3">
                                                <img class="img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>LIMITED LIABILITY PARTNERSHIP</p>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4"
                                        class="collapsed"><span>04</span>
                                        Who Can Obtain a Trademark<i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list"><br>
                                        <div class="row">
                                            <div class="box col-3">
                                                <img class=" img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>TRUST OR SOCIETY
                                                </p>
                                            </div>
                                            <div class="box col-3">
                                                <img class=" img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>PROPRIETORSHIP FIRM
                                                </p>
                                            </div>
                                            <div class="box col-3">
                                                <img class=" img-fluid" src="assets/img/services/who-can-1.webp" alt="">
                                                <p>PARTNERSHIP FIRM
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </section><!-- End Contact Section -->
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size: 22px;">Register Your Trademark & Protect Your Brand Name From Intruders with
                    Online Legal India</h2>

                <p>A trademark is any mark, logo, name, symbol, letter, figure, or word used by any individual or firm
                    to uniquely identify its goods or services from those made or sold by others. As a result, clients
                    must be able to differentiate one's goods or services from those of others. The requirements of the
                    Trade Marks Act 1999 regulate trademark registration. Trademark registration is vital because the
                    government legally authorises it to grant the owner exclusive rights to the brand, sale,
                    manufacture, and use of products and services.

                </p>
            </div>
        </div>
    </section>
    <hr>
    <!-- <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size: 22px;">What are The Eligibility Criteria for Trademark Registration
                </h2>

                <p>In India, anybody who claims to be the trademark owner, whether an individual, proprietor,
                    corporation or other legal organisation, can apply for a trademark. The trademark application can be
                    filed, and the "TM" sign can be used within a few days post registration following registration. The
                    Trade Mark Registry takes a minimum 6-8 months to register if there's no objection raised by the
                    Registry. In case of an objection, it might take up to 18 months. After the trademark is registered
                    and the registration certificate is issued, the registered symbol i.e. R, can be used. Once a
                    trademark registration is done, it will be valid for ten years from the registration date and has to
                    be renewed at the due time.

                </p>
            </div>
        </div>
    </section>
    <hr> -->

    <!-- <section class="trade_regis_sec1">
        <div class="container">
            <div class="trade_regis_sec3_cont">
                <div class="section-title">
                    <h2 style="font-size: 22px;">What are The Eligibility Criteria for Trademark Registration
                    </h2>
                </div>
                <div class="module_content">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>01</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>Any Individual Person</h4>
                                    <p>An individual person who is not currently in business can also file a
                                        trademark
                                        application and receive trademark registration for the brand name/device)
                                        that
                                        the applicant intends to use in the future.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>02</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>Shared Ownership</h4>
                                    <p>A Firm’s joint proprietors can apply for a trademark together, and both of
                                        their
                                        names may be listed in the application.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>03</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>Partnership Firm</h4>
                                    <p>When registering a trademark, a partnership business with a maximum of 10
                                        members
                                        must include all partners' names in the application. In addition, if a minor
                                        partner is present, the name of the minor's guardian must be stated.</p>
                                </div>
                            </div>
                        </div> <br>
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>04</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>LLP (Limited Liability Partnership)</h4>
                                    <p>The application for the Limited Liability Partnership should be in the name
                                        of
                                        the LLP. It is a legal entity in which each participant has their own
                                        identity.
                                        Because the trademark belongs to the LLP, the partners cannot be applicants.
                                        The
                                        application must contain all the partners' names.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>05</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>Indian Corporation</h4>
                                    <p>Any Indian firm, whether private limited, public limited, or any other type,
                                        must
                                        file a trademark application in its name. Because every incorporated
                                        organisation has its own legal body and identity, the director of a company
                                        cannot be a trademark applicant.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="module_card weightLoss_module web_module">
                                <h2>06</h2>
                                <div class="modeuleCrad_left weightModule_cardLeft">
                                    <h4>Foreign Corporation</h4>
                                    <p>If a foreign-incorporated firm files for a trademark in India, it must do so
                                        under the corporate name as it is registered in the foreign nation. The
                                        registration type, the government, and the law should all be indicated here.
                                        It
                                        must mention the Indian address from which they are running their business
                                        in
                                        INDIA.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 style="color: black" class="benifts-heading">Advantages of Registering Trademarks</h2>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="advantage1">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/registered-sign.svg" alt="registered">
                                    </div>
                                    <div class="adv__content">
                                        <h6>Exclusive Right</h6>
                                        <p>The registration of Trademark gives you the exclusive right to use of the
                                            registered trademark and indicate so by using next to your brand name</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/2.svg"
                                            alt="balance">
                                    </div>
                                    <div class="adv__content">
                                        <h6>A Legal Protection</h6>
                                        <p>In case you doubt that your trademark is being copied by anyone else, you can
                                            take up the issue legally and sue them if you have registered your logo,
                                            brand
                                            name or slogan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/3.svg" alt="comparison">
                                    </div>
                                    <div class="adv__content">
                                        <h6>Differentiates Product</h6>
                                        <p>Registering a trademark ensures that competitors will not use it and hence
                                            the
                                            customers will not get confused.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/4.svg"
                                            alt="asset-management">
                                    </div>
                                    <div class="adv__content">
                                        <h6>Creation of Asset</h6>
                                        <p>Registered trademark is a right created which can be sold, assigned,
                                            franchised
                                            or commercially contracted.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/5.svg" alt="planet-earth">
                                    </div>
                                    <div class="adv__content">
                                        <h6>Global Trademark Registration</h6>
                                        <p>For any person willing to expand outside India, the trademark registered in
                                            India can provide a good base along with the Established goodwill in the
                                            Country.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="advantage__body">
                                    <div class="adv__logo">
                                        <img class="avd__img" src="assets/img/icon/6.svg" alt="handshake">
                                    </div>
                                    <div class="adv__content">
                                        <h6>Build trust and Goodwill</h6>
                                        <p>It helps in creating permanent customers who are loyal and always opt for the
                                            same brand.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
