<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Shop Act Licence </h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/shop">Go Back <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Shop Act Licence</h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="fullName" class="required">Full Name English</label>
                            <input type="text" name="fullName" placeholder=" - - -  " class="form-control" id="fullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fullNameMarathi" class="required">Full Name Marathi</label>
                            <input type="text" name="fullNameMarathi" placeholder=" - - - " class="form-control"
                                id="fullNameMarathi" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mobileNumber" class="required">Contact Number</label><br>
                            <input type="number" name="mobileNumber" placeholder="- - - " class="form-control"
                                id="mobileNumber" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="email">Email Id</label><br>
                            <input type="email" name="email" placeholder="- - - " class="form-control" id="email">
                        </div>
                        <div class="form-group col-md-4" >
                            <label for="gender" style="padding-bottom: 10px; ">Gender</label><br>
                            <input type="radio" name="gender" value="male"id="gender"> Male &nbsp;
                            <input type="radio" name="gender" value="female"id="gender"> Female &nbsp;
                            <input type="radio" name="gender" value="other"id="gender"> Other
                        </div>
                        <div class="form-group col-md-4">
                            <label for="dob">Date of Birth</label>
                            <input type="date" name="dob" placeholder="Date of Birth" class="form-control" id="dob"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="form-group col-md-4">
                            <label for="addressEnglish">Address English</label><br>
                            <input type="text" name="addressEnglish" placeholder=" - - - " class="form-control"
                                id="addressEnglish">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="addressMarathi">Address Marathi</label><br>
                            <input type="text" name="addressMarathi" placeholder=" - - - " class="form-control"
                                id="addressMarathi">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="noofYearsInResidency">No of Years In Staying Residency</label><br>
                            <input type="text" name="noofYearsInResidency" placeholder=" - - - " class="form-control"
                                id="noofYearsInResidency">
                        </div> <br>
                    </div>
                    <div class="row">
                        <br>
                        <div class="form-group col-md-4">
                            <label for="shopName">Shop Name </label><br>
                            <input type="text" name="shopName" placeholder=" - - - " class="form-control" id="shopName">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="addressMarathi">Shop Name in Marathi</label><br>
                            <input type="text" name="addressMarathi" placeholder=" - - - " class="form-control"
                                id="addressMarathi">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="natureOfBusiness">Nature Of Business</label><br>
                            <input type="text" name="natureOfBusiness" placeholder=" - - - " class="form-control"
                                id="natureOfBusiness">
                        </div> <br>
                    </div>
                    <div class="row">
                        <br>
                        <div class="form-group col-md-4">
                            <label for="natureOfBusinessMarathi">Nature Of Business in Marathi</label><br>
                            <input type="text" name="natureOfBusinessMarathi" placeholder=" - - - " class="form-control"
                                id="natureOfBusinessMarathi">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="addressMarathi">Shop Name Marathi</label><br>
                            <input type="text" name="addressMarathi" placeholder=" - - - " class="form-control"
                                id="addressMarathi">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="shopAddress">Shop Address</label><br>
                            <input type="text" name="shopAddress" placeholder=" - - - " class="form-control"
                                id="shopAddress">
                        </div> <br>
                    </div>
                    <div class="row">
                        <br>
                        <div class="form-group col-md-4">
                            <label for="shopAddressMarathi">Shop Address Marathi</label><br>
                            <input type="text" name="shopAddressMarathi" placeholder=" - - - " class="form-control"
                                id="shopAddressMarathi">
                        </div> <br>
                        <div class="form-group col-md-3">
                            <label for="shopPincode">Shop Pincode</label><br>
                            <input type="text" name="shopPincode" placeholder=" - - - " class="form-control"
                                id="shopPincode">
                        </div> <br>
                        <div class="form-group col-md-3">
                            <label for="dob">Date of Birth</label>
                            <input type="date" name="dob" placeholder="Date of Birth" class="form-control" id="dob"
                                required>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="isShopRented" style="padding-bottom: 10px; ">Is Shop Rented</label><br>
                            <input type="radio" name="isShopRented" value="male"id="isShopRented"> Yes &nbsp;
                            <input type="radio" name="isShopRented" value="female"id="isShopRented"> No &nbsp;
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="form-group col-md-3">
                            <label for="noOfMaleEmployess">No Of Male Employess</label><br>
                            <input type="number" name="noOfMaleEmployess" placeholder=" - - - " class="form-control"
                                id="noOfMaleEmployess">
                        </div> <br>
                        <div class="form-group col-md-3">
                            <label for="noOfFemaleEmployess">No Of Female Employess</label><br>
                            <input type="number" name="noOfFemaleEmployess" placeholder=" - - - " class="form-control"
                                id="noOfFemaleEmployess">
                        </div> <br>
                        <div class="form-group col-md-3">
                            <label for="partnerFullName">Partner FullName</label><br>
                            <input type="text" name="partnerFullName" placeholder=" - - - " class="form-control"
                                id="partnerFullName">
                        </div> <br>
                        <div class="form-group col-md-3">
                            <label for="partnerNumber">Partner Number</label><br>
                            <input type="text" name="partnerNumber" placeholder=" - - - " class="form-control"
                                id="partnerNumber">
                        </div> <br>
                    </div>
                    <div class="row">
                        <br>
                        <div class="form-group col-md-4">
                            <label for="partnerFullEmail">Partner Full Email :</label><br>
                            <input type="text" name="partnerFullEmail" placeholder=" - - - " class="form-control"
                                id="partnerFullEmail">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="partnerFullAddress">Partner Full Address</label><br>
                            <input type="text" name="partnerFullAddress" placeholder=" - - - " class="form-control"
                                id="partnerFullAddress">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="aadharNumber">Aadhar Number</label><br>
                            <input type="text" name="aadharNumber" placeholder=" - - - " class="form-control"
                                id="aadharNumber">
                        </div> <br>
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharProof" class="required">Adhar Card</label>
                            <input type="file" name="aadharProof" placeholder=". . ." class="form-control"
                                id="aadharProof" required>
                            <div class="file-preview" id="filePreview"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="signature" class="required">Signature</label>
                            <input type="file" name="signature" placeholder=". . ." class="form-control" id="signature"
                                required>
                            <div class="file-preview" id="filePreview"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="passportPhoto" class="required">Passport Photo</label>
                            <input type="file" name="passportPhoto" placeholder=". . ." class="form-control" id="passportPhoto"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="pancard">Pan card</label><br>
                            <input type="file" name="pancard" class="form-control" id="pancard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="shopPhoto">Shop Photo</label><br>
                            <input type="file" class="form-control" name="shopPhoto" id="shopPhoto">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="selfDeclaration">Self Declaration</label><br>
                            <input type="file" class="form-control" name="selfDeclaration" id="selfDeclaration">
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->