<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Annual Compliance & Filing </h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/annual" class="active">Annual Compliance & Filing</a></li>
                <li class="current"><a routerLink="/tax_planing">Tax Planning & Consultation</a></li>
                <li><a routerLink="/income_tax">Income Tax Returns</a></li>
                <li><a routerLink="/online_ac">Online Accountant</a></li>
                <li><a routerLink="/csr">12A-80G-CSR</a></li>
                <li><a routerLink="/project_repo">Project Report</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Avail of Legal Compliance for Section 8 Companies and Other NGOs

                </h2>
                <p><span class="green" style="color: rgb(16, 182, 16);">
                    Make Easy</span><span class="red" style="color: rgb(232, 51, 10);">Documents</span>
                has a team of experts to provide support to availing of legal
                compliances for all types of Section 8 Companies. If you have a Section 8 Company, you
                must meet some legal compliance. Don’t worry! You may have a lot of important work in
                hand or you may not be accustomed to performing all complicated online form filling out
                activities. We are your premium support to meet any compliance criteria of your company.
            </p>
            <p>The following standards are to maintain to demonstrate their sincerity, and authenticity
                with some annual legal compliances. We can help you in all respective fields of
                services.
            </p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                             <br>
                            <h4>Section 12A Registration</h4>
                            <p>According to the Income Tax Act, of 1961, you will get provision certificate of 12A
                                registration on successful application. Then, you have to apply for permanent 12A
                                certificate. Income Tax department grants 12A certification against any non-profit
                                organization. The purpose of the registration is to exempt the payable tax if there is
                                any. Usually, this registration is applied 3 months after the NGO registration. The NGOs
                                registered under Trust, society, or Section 8 Company require Section 12A registration.
                                All nonprofit organizations require it so that they can save the tax as they require
                                more capital for serving the people.</p>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/services/gst/12.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>