<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Fresh Passport</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/passport">Go Back  <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Fresh Passport
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="typeOfApplication" class="required">Type of Application</label>
                            <select name="typeOfApplication" class="form-control" id="typeOfApplication" required>
                                <option value="" disabled selected>- - - </option>
                                <option value="vehicle1">Normal</option>
                                <option value="vehicle2">Tatkal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fullName" class="required">Full Name </label>
                            <input type="text" name="fullName" placeholder=" - - -  " class="form-control" id="fullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mobileNumber" class="required">Mobile Number</label><br>
                            <input type="text" name="mobileNumber" placeholder="- - - " class="form-control" id="mobileNumber"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharNumber" class="required">Aadhar Number</label><br>
                            <input type="text" name="aadharNumber" placeholder="- - - " class="form-control" id="aadharNumber"
                                required>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="email">Email Id</label><br>
                            <input type="text" name="email" placeholder="- - - " class="form-control" id="email">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="gender" style="padding-bottom: 10px; ">Gender</label><br>
                            <input type="radio" name="gender" value="male"> Male &nbsp;
                            <input type="radio" name="gender" value="female"> Female &nbsp;
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="date" name="dateOfBirth" placeholder="- - - " class="form-control" id="dateOfBirth"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="placeOfBirth">Place Of Birth</label>
                            <input type="text" name="placeOfBirth" placeholder="- - - " class="form-control" id="placeOfBirth"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="maritalStatus" class="required">Marital Status</label>
                            <select name="maritalStatus" class="form-control" id="maritalStatus" required>
                                <option value="" disabled selected>- - - </option>
                                <option value="vehicle1">Single</option>
                                <option value="vehicle2">Marride</option>
                                <option value="vehicle3">Divorced</option>
                                <option value="vehicle4">Widow</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="educationQualification">Education Qualification</label>
                            <input type="text" name="educationQualification" placeholder="- - - " class="form-control" id="educationQualification"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="fatherFullName">Father Full Name</label>
                            <input type="text" name="fatherFullName" placeholder="- - -" class="form-control" id="fatherFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="motherFullName">Mother Full Name</label>
                            <input type="text" name="motherFullName" placeholder="- - -" class="form-control" id="motherFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="spouseFullName">Spouse Full Name (husband / wife)</label>
                            <input type="text" name="spouseFullName" placeholder="- - -" class="form-control" id="spouseFullName"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="presentAddress">Present Address</label>
                            <input type="text" name="presentAddress" placeholder="- - -" class="form-control" id="presentAddress"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="permanentAddress">Permanent Address</label>
                            <input type="text" name="permanentAddress" placeholder="- - -" class="form-control" id="permanentAddress"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="policeStation">Police Station (Near by)</label>
                            <input type="text" name="policeStation" placeholder="- - -" class="form-control" id="policeStation"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="emergencyContactFullName">Emergency Contact Full Name</label>
                            <input type="text" name="emergencyContactFullName" placeholder="- - -" class="form-control" id="emergencyContactFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="emergencyContactNumber">Emergency Contact Number</label>
                            <input type="text" name="emergencyContactNumber" placeholder="- - -" class="form-control" id="emergencyContactNumber"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="emergencyContactAddress">Emergency Contact Address</label>
                            <input type="text" name="emergencyContactAddress" placeholder="- - -" class="form-control" id="emergencyContactAddress"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharCard" class="required">Aadhar Card 
                            </label>
                            <input type="file" name="aadharCard" placeholder=". . ." class="form-control"
                                id="aadharCard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="panCard" class="required">Pan Card
                            </label>
                            <input type="file" name="panCard" placeholder=". . ." class="form-control"
                                id="panCard" required>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->