
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">LLP Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/llpRegistration" class="active">LLP Registration</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Fast LLP Registration Services In India
                </h2>
                <p>Apply for LLP Registration Online at lowest fees in India by <span class="green"> Make
                        Easy</span>
                    <span class="red">Documents</span>. Easy Process and
                    Documentation. Register for Limited Liability Partnership Now!


                </p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid" src="assets/img/services/inc/2.jpg" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <p>LLP states Limited Liability Partnership and it is governed by the Limited Liability
                                Partnership Act, 2008. It has got limited liability to the partners. In case of LLP,
                                there are two partners involved, where there is no minimum limit of capital investment
                                and one must be resident of India, i.e., he must be staying or have stayed for 182 days
                                in India. <br>
                                LLP is often done for the small type of businesses in India. However, a LLP
                                due to its nature does not allow to issue equity shares, thus it cannot raise money from
                                the general public. One can register a LLP through us in a very less time.
                            </p> <br>
                            <p>The biggest advantage of LLP form of business over a Pvt Ltd Company is in the fact that
                                there is less compliance requirement in comparison to a Company.</p> <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="right-side-icons-div-2"> <br>
                                        <img class="right-side-img-startupind" src="assets/img/services/inc/2.webp"
                                            alt=""> <br>
                                        <p class="right-side-img-title"><br> Startup India</p>
                                        <p class="right-side-img-desc"><span class="green"> Make
                                                Easy</span>
                                            <span class="red">Documents</span> is now recognized by
                                            Department
                                            for Promotion of Industry and Internal Trade under Startup India.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="right-side-icons-div-2">
                                        <img class="right-side-img-startupind" src="assets/img/services/inc/3.webp"
                                            alt="ISO">
                                        <p class="right-side-img-title">ISO 9001:2015 CERTIFIED</p>
                                        <p class="right-side-img-desc"><span class="green"> Make
                                                Easy</span>
                                            <span class="red">Documents</span> is a ISO certified body, assuring the
                                            quality professional services to aspiring startups.
                                        </p>
                                    </div>
                                </div>
                                <div class="sty">
                                    <a><span>Avail Consultations from our Experienced CAs &#64;Rs 999! *</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>
