
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Annual Compliance & Filing </h1>
        <nav class="breadcrumbs">
            <ol>
                <li class="current"><a routerLink="/home">Home</a></li>
                <li><a routerLink="/annual" class="active">Annual Compliance & Filing</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Complete Annual Filing & Compliance for All Types of Pvt. Limited <br> / One
                    Person / LLP Company at an Unbeatable Price!
                </h2>
                <p>Let our CA Experts Start Filing Your Annual Compliance Today! India’s Best CA Panel Ready to Provide
                    360° Online Assistance for Your Annual Compliances

                </p>
            </div>
            <div>
                <img class="img-fluid" src="assets/img/services/gst/11.png" alt="">
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <p>The Companies Act, 2013 of Indian Govt. legally mandates every entity in the country to
                                follow the declarations of the Annual Compliance. For the Private Limited Companies
                                (Pvt. Ltd.), One Person Companies (OPC), or Limited Liability Partnerships (LLP), Annual
                                Compliance acts as a regular update to the Govt. that the entity is conducting its
                                business under the particular Act.</p>
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Benefits of Filing from <span class="green" style="color: #00B424;font-size: 15px;">
                                            Make Easy</span><span class="red" style="color: #FF3308;font-size: 15px;">Documents</span>™ <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            • Customer support available in 6 languages including English <br>
                                            • Free Annual Compliance Drafting <br>
                                            • Free Consultations – Readily available! <br>
                                            • Statutory Audit with Audit Fees <br>
                                            • Point-to-point update for upcoming compliances & requirements <br>
                                            • Call, E-mail, Chat support <br>
                                            • Recommendable service at an unbeatable price <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Who Will Submit Your Annual Compliance? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            • A panel of 25+ efficient Chartered Accountants who are always prepared to
                                            provide you the adequate online assistance. <br>
                                            • Our esteemed CAs will be preparing will handling your accounts personally <br>
                                            • India’s most efficient CA panel <br>
                                            • 360° corporate legal assistance <br>
                                            • Paperless documentation <br>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>