<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">India Subsdiary Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/india" class="active">India Subsdiary Registration</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Register Subsidiary Companies
                    in India Online
                </h2>
                <p> Our experienced CA/CS will help register subsidiary companies and support legal compliance.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid" src="assets/img/services/inc/3.png" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <div class="act-box">
                                <div class="act-content">
                                    <h4>Understanding Subsidiary Companies in India
                                    </h4>
                                    <p>A subsidiary company is a corporation or business entity that is partially or
                                        fully owned by another company, known as the parent company. The parent company
                                        may have control over the subsidiary company from 51 to 99 percent. If any
                                        parent company has 100% shares of a subsidiary company, it is called a wholly
                                        owned subsidiary. If any company has more than one subsidiary company, each of
                                        them is called a sister company.
                                    </p> <br>
                                    <h4>Incorporate a Subsidiary from <span class="green"> Make
                                            Easy</span>
                                        <span class="red">Documents</span>
                                    </h4>
                                    <p>Parting a company or creating a new subsidiary under the brand to achieve
                                        operational support and focus on the business, a company can build subsidiary.
                                    </p>
                                    <p>If you have a parent company and want to create a different entity as a
                                        subsidiary company, contact <span class="green"> Make
                                            Easy </span>
                                        <span class="red">Documents</span>. We have highly experienced CA/CS
                                        to assist in all formalities to meet your requirements. What are you waiting
                                        for?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

    <div class="container">
        <div class="section-title">
            <h2 style="font-size:25px;">Requirements for Establishing an Indian Subsidiary Company
            </h2>
        </div>
        <div class="three_inner">
            <div class="row">
                <div class="col-md-5 padding_left">
                    <div class="three_inner_left">
                        <img class="img-fluid" src="assets/img/services/inc/g.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="three_inner_right">
                        <div class="three_inner_right_text">
                            <h3>Shareholders :
                            </h3>
                            <p>At least 2 shareholders are essential to building an Indian subsidiary. They can be
                                individuals or foreign entities.
                            </p>
                        </div>
                        <div class="three_inner_right_text">
                            <h3>Directors :</h3>
                            <p>At least 2 directors are mandatory; one must be an Indian resident residing permanently
                                in India.
                            </p>
                        </div>
                        <div class="three_inner_right_text">
                            <h3>Capital :</h3>
                            <p>For establishing a subsidiary, there are no minimum capital threshold.

                                Time required for registration: The registration process for a subsidiary company in
                                India takes from 12 to 15 days from the date of document submission.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> <br>
