<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Shop Act Licence </h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/shop">Shop Act Licence</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Shop Act Licence</h2>
                <h4>"<span class="green"> Make Easy </span> <span class="red">Documents</span> : Empowering Your
                    Business with Shop Act Licenses!"</h4>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_image_text"> <br>
                        <p> <span style="font-weight: bold;">शॉप / गुमास्ता लायसेन्स (Shop Act Registration) : </span>
                           <br><br> दुकाने, व्यापारी संस्था, राहण्याची सोय असलेली हॉटेले, विश्रांतीगृहे, भोजनगृहे, थिएटर्स व
                            सार्वजनिक करमणुकीची अथवा मनोरंजनाची इतर ठिकाणे आणि संस्था यांमध्ये काम करणारे सेवक गुमास्ता
                            या संज्ञेखाली मोडतात. <br><br> या सेवकांसंबंधी व त्यांच्या कामासंबंधी शासनाने गुमास्ता अधिनियम संमत
                            केलेले आहेत.जगातील बहुतेक देशांत एकूण कामगारवर्गाची स्थिती औद्योगिक क्रांतीपूर्वी हलाखीचीच
                            होती, असा इतिहास आढळतो. <br> औद्योगिक क्रांतीनंतर कामगारवर्गासंबंधीच्या विचारसरणीत आमूलाग्र बदल
                            झाले व कामगारवर्गाची स्थिती झपाट्याने सुधारू लागली, त्यांच्यासाठी विविध कायदे निर्माण झाले.
                           <br> फॅक्टरी अधिनियमांन्वये लहान कारखान्यांतील सेवकांनाही त्यांचा लाभ मिळाला.</p>
                        <div class="button-container">
                            <button type="button" routerLink="/shop_act" class="subform centered-button">Apply for
                                New Shop Act </button> <br>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <img class="img-fluid" src="assets/img/services/shop.png" alt="">

                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>