
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Other Services</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/other">Register Rent Agreement</a></li>
                <li><a routerLink="/other">Voter ID </a></li>
                <li><a routerLink="/other">Provident Fund (PF)</a></li>
                <li><a routerLink="/other">Tours Pakage Booking</a></li>
                <li><a routerLink="/other">Handicap Certificate</a></li>
                <li><a routerLink="/other">U.D.I.D Card</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Other Services
                </h2>
                <p>The other services industry includes the repair and maintenance of equipment and machinery and the
                    provision of personal care services, as well as death care services.
                </p>
            </div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-lg-10">
                    <img class="img-fluid" src="assets/img/services/aaa.jpg" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <div class="row">
                                <div class="col-md-6">
                                    • Register Rent Agreement <br>
                                    • Voter ID <br>
                                    • Provident Fund (PF) <br>
                                </div>
                                <div class="col-lg-6">
                                    • Tours Pakage Booking <br>
                                    • Handicap Certificate <br>
                                    • U.D.I.D Card <br>
                                </div>
                            </div> <br>
                            <div>
                                <img class="img-fluid" src="assets/img/services/aa.jpg" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>
