<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Legal Notice</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/onlineLegalAdvice">Online Legal Advice </a></li>
                <li><a routerLink="/legalNotice">Legal Notice</a></li>
                <li><a routerLink="/devorce">Advice on Divorce</a></li>
                <li><a routerLink="/mahsul">महसूल लिगल</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Online Legal Advice | Guaranteed Solution To Every Legal Issue
                </h2>
                <p>Resolve your Legal Dispute | Intimation sent on Virtual Mode! We give Legal Advice and provide a
                    solution to every legal disagreement.

                </p>
            </div>
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <img class="img-fluid" src="assets/img/services/legal/notice.jpg" alt="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch"> <br>
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is a Legal Notice? What purpose does it serve? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            A “Legal Notice” is a legal intimation sent to the opponent indicating that
                                            the aggrieved is preparing to file a lawsuit against the concern in case the
                                            demand mentioned in the relevant notice is not fulfilled.

                                            Therefore, in a nutshell a legal notice can be defined as a formal
                                            communication to any person or a legal entity, informing the other party of
                                            your intention to undertake legal proceedings against them.

                                            This notice, when sent, conveys your intention prior to the legal
                                            proceedings and thus, makes the party aware of your grievance.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        When to send a Legal Notice? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            A legal notice is generally issued by an advocate appointed by the victim,
                                            on behalf of his/her client for the purpose of soliciting a settlement.
                                        </p>
                                        <p>There are numerous reasons for which one can send a legal notice to a person
                                            or a legal entity. However, the most common reasons are as follows:</p>
                                        <p>
                                            • Property related disputes for example mortgage, delay in possession
                                            delivery by the builder, eviction of the tenant on unreasonable grounds,
                                            partition of family property, etc.
                                            <br>
                                            • Notice to the employer for terminating employees wrongfully, unpaid
                                            salary, violation of rights of the employees by the employer etc.
                                            <br>
                                            
                                            • Notice to any employee for violation of the HR policies, committing sexual
                                            harassment at workplace, leaving the job without dropping the resignation
                                            letter, violation of any provision of the employment agreement etc.
                                            <br>
                                            • Notice to a company manufacturing or providing service of contaminated/low
                                            standard products, negligent services, fraudulent advertisement etc.
                                            <br>
                                            • Notice regarding personal conflicts for instance divorce, maintenance,
                                            child custody, division of maternal property etc.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>
