<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Advice on Divorce</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/onlineLegalAdvice">Online Legal Advice </a></li>
                <li><a routerLink="/legalNotice">Legal Notice</a></li>
                <li><a routerLink="/devorce">Advice on Divorce</a></li>
                <li><a routerLink="/mahsul">महसूल लिगल</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Online Legal Advice | Guaranteed Solution To Every Legal Issue
                </h2>
                <p>Resolve your Legal Dispute | Intimation sent on Virtual Mode! We give Legal Advice and provide a
                    solution to every legal disagreement.

                </p>
            </div>
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <img class="img-fluid" src="assets/img/services/legal/div.jpg" alt="">
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch"> <br>
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <p>Divorce or Dissolution Of Marriage a process of separation ensue's when cohabiting
                                married partners no longer desire to cohabit to the sacred bond and wish to part ways
                                either mutually or by contest.</p>

                            <p style="font-size: 20px;">We can help, you seek legal advice from our legal practitioners
                                of <span class="green" style="color: #00B424;">
                                    Make Easy</span><span class="red" style="color: #FF3308;">Documents</span> and make
                                this entire process
                                seamless. </p> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Kinds of Divorce <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p> <span style="color: black; font-size: 15px;">Contested Divorce :</span> <br>
                                            • Under this form of divorce, one party agrees for divorce and the
                                            opposition
                                            party disagree for the same.
                                            <br>
                                            • This form of divorce takes a long time for dissolution of marriage, where
                                            the decision is pending upon the honourable presiding judge.
                                        </p>

                                        <p><span style="color: black; font-size: 15px;">Mutual Divorce :</span> <br>
                                            • Under this form, both parties agree to part ways under mutual consent.
                                            <br>
                                            • The decisions are taken mutually by both the parties where they decide to
                                            exchange the items/goods which they have taken form one another during the
                                            time of marriage.
                                            <br>
                                            • Under this form both the parties settle everything between them according
                                            to their convenience.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Forms of Marriage Act in India <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Here in India dissolution of marriage for Hindus, Buddhists, Sikhs and
                                            Jains, Parsis, Christian's and Muslim's is governed by the following
                                            marriage Acts :-
                                        </p>
                                        <p>
                                            • For Hindus, Sikhs, Buddhist's and Jains is governed by Marriage Act, 1955.
                                            <br>
                                            • For Muslims by the Dissolution of Muslim Marriages Act, 1939.
                                            <br>

                                            • For Christians, it is governed by the Indian Divorce Act, 1869.
                                            <br>
                                            • For Parsis by the Parsi Marriage and Divorce Act, 1936.
                                            <br>
                                            • For Special Marriage Act, 1954.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>
