
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Import Export Code Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/company">Import Export Code Registration</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title"><br>
                <h2 style="font-size:25px;">Apply for Import Export Code (IEC) Online with the help of <span
                        class="green"> Make Easy </span> <span class="red">Documents</span> .</h2>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is Import Export Code (IEC)? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            An Importer Exporter Code (IEC) is a key business identification number
                                            which is mandatory for export from India or Import to India. No export or
                                            import shall be made by any person without obtaining an IEC. For services
                                            exports however, IEC shall not be necessary except when the service provider
                                            is taking benefits under the Foreign Trade Policy. An individual or a
                                            business entity needs a 10 digit code to import or export products or
                                            services. This code is known as Import Export Code or IEC and it is issued
                                            by DGFT, Ministry of Commerce and Industries, Govt. of India.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>When is IEC code required? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            • Customs authorities need it to clear shipments during imports.<br><br>
                                            • The bank needs it to transfer the money when imports are made.<br><br>
                                            • Similarly during export the shipments the IEC is required.<br><br>
                                            • When exporter is supposed to receive money in foreign currency, IEC code
                                            is required to
                                            transfer the money to his account directly.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        Fees <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <div style="overflow-x: auto;">
                                            <table border="1px">
                                                <tr>
                                                    <th colspan="2" width="100%" style="
                                                    text-align: center;">License Type</th>
                                                </tr>
                                                <tr>
                                                    <td>Aayaat Niryaat Form Submit
                                                    </td>
                                                    <td>Zero</td>
                                                </tr>
                                                <tr>
                                                    <td>Filing at DGFT
                                                    </td>
                                                    <td>Zero</td>
                                                </tr>
                                                <tr>
                                                    <td>Professional Fees</td>
                                                    <td>Rs. 1999</td>
                                                </tr>
                                                <tr>
                                                    <td>Govt. Fees (Exclude)</td>
                                                    <td>Rs. 500</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="100%" style="
                                                    text-align: center;">Rs. 1999 Only</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-4"><span>04</span>
                                        Who can apply for IEC Code? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>The IEC code registration is applicable for all business registrations: </p>
                                        <p>
                                            Proprietorship ,
                                            Partnership ,
                                            LLP <br>
                                            Limited Company ,
                                            Trust ,
                                            HUF ,
                                            Society
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <hr>
    <section class="cr_documents_required">
        <div class="container">
            <div class="section-title">
                <h2 class="benifts-heading" style="color: black">Document Required</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/11.webp" alt="Passport Size Photograph">
                    <p> Two Colour Photographs of Promoters/ <br> Individuals/ Company/ Director</p>
                </div>
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/12.webp" alt="PAN Card">
                    <p>PAN Card of each Shareholders <br> and directors</p>
                </div>
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/13.webp" alt="Electricity Bill">
                    <p>Identity Proof (Voter ID / <br> Driving License/ Passport)</p>
                </div>

                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/14.webp" alt="Aadhaar Card">
                    <p>Address Proof (Bank Statement / <br> Electricity, Mobile, Telephone Bill)</p>
                </div>

                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/15.webp" alt="Address Proof">
                    <p>Proof of Registered Office</p>
                </div>
                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/16.webp" alt="NOC">
                    <p>Utility Bill as proof must be Latest
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>