<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0"> Company Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/company">Company Registration</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Company Registration</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="left_content">
                        <h3><span style="font-size: 19px; text-align: center;">Before Registering Your Company Directly
                                under Govt. of India
                            </span> <a href="#contact"><span>Avail Consultations from our Experienced CAs Rs 999!
                                    *</span></a></h3>

                        <br>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img class="img-fluid" src="assets/img/services/cmpny_regis/1.svg"
                                        alt="Customer Support">
                                    <p>Customer Support Available in 6 Languages including English</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img src="assets/img/services/cmpny_regis/2.svg" alt="Chat Support">
                                    <p>Expert Consultation over Call, E-mail, Chat Support.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img src="assets/img/services/cmpny_regis/3.svg" alt="Review">
                                    <p>Trusted by Over 1Lakh+ Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img src="assets/img/services/cmpny_regis/4.svg" alt="Paperless Documentation">
                                    <p>100% Paperless Documentation</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img src="assets/img/services/cmpny_regis/5.svg"
                                        alt="Company Incorporation Process">
                                    <p>Completely Secured + Encrypted Company Incorporation Process</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="consult_list">
                                    <img src="assets/img/services/cmpny_regis/6.svg" alt="Call Center">
                                    <p>India’s most efficient CA panel ready to assist along the way</p>
                                </div>
                            </div>
                        </div>
                        <p style="color: #fff;margin: 26px;">*Once you are Ready to Setup your Dream Company, you’ll
                            receive Rs 999 adjustment from your selected company registration package from us</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <hr>
    <section class="cr_documents_required">
        <div class="container">
            <div class="section-title">
                <h2 class="benifts-heading" style="color: black">Documents required to get the Company registered</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/11.webp" alt="Passport Size Photograph">
                    <h4>Passport Size Photograph</h4>
                    <span>The individual has to provide 3 copies of their passport size photo for the application
                        forms</span>
                </div>
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/12.webp" alt="PAN Card">
                    <h4>PAN Card</h4>
                    <p>PAN Card of the Directors of the Company will be needed for Company Registration.</p>
                </div>
                <div class="col-md-3 col-xs-6 req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/13.webp" alt="Electricity Bill">
                    <h4>Copy of Electricity Bill</h4>
                    <p>The person needs to provide the electricity bill not more than 3 months old.</p>
                </div>

                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/14.webp" alt="Aadhaar Card">
                    <h4>Copy of Aadhaar Card</h4>
                    <p>The individual needs to provide the proof of identity with a photo attached to it.</p>
                </div>

                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/15.webp" alt="Address Proof">
                    <h4>Address Proof</h4>
                    <p>The address proof should have the name of the Director along with his current address and
                        should match with the PAN card.</p>
                </div>
                <div class="req-docs-main-div">
                    <img src="assets/img/services/cmpny_regis/16.webp" alt="NOC">
                    <h4>No Objection Certificate</h4>
                    <p>They need to furnish the NOC from the local concerned authorities.</p>
                </div>
            </div>
        </div>
    </section>
</main>