
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">GST Return filing</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/gst">Go Back <i class="bi bi-arrow-left-circle"></i> </a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">File your GST Return with ease! Your Business, Our Responsibility.

                </h2>
                <p>Let India’s recommended Business Taxation Experts File your GST Returns on Time | Digital Assistance
                    to any Corner of the Nation

                </p>
            </div>
            <div>
                <img class="img-fluid" src="assets/img/services/gst/3.png" alt="">
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <p>&nbsp; Every GST registered organization in India is legally responsible for filing a total of
                                26 GST return filings in a financial year. It may sound problematic to meet up the
                                regulations but with the GST experts’ proper online guidance in <span class="green"
                                    style="color: #00B424;font-size: 15px;">
                                    Make Easy </span> <span class="red" style="color: #FF3308;font-size: 15px;">Documents</span>, you
                                would be able to complete all the needful steps with ease. The taxpayers are liable to
                                pay the GST filings within a preset time as the Govt. of India use these returns to
                                evaluate the entire tax liability in the country.</p>
                            <p>
                                &nbsp;With the help of our CA expert from <span class="green" style="color: #00B424;font-size: 15px;">
                                    Make Easy </span> <span class="red" style="color: #FF3308;font-size: 15px;">Documents</span>™ get
                                your GST Return filing done in few clicks.
                            </p>
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Who is liable for GST filings? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p> Any individual operating a business entity is accountable
                                            for being registered with the GST system and GST filing. The key criteria
                                            for which registered business personnel is needed to carry out GST filing:
                                            <br>
                                            • Monthly GST returns
                                            <br>
                                            • Yearly GST returns
                                            <br>
                                            • GST filing for input/purchase
                                            <br>
                                            • GST filing for output/supply

                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        Late Fees/Penalty For Failing To Filing The Return On Time
                                        <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            In case the taxpayer fails to file the GST returns within the specified date
                                            provided by the GST department, then taxpayer has to pay late fee along with
                                            interest &#64;18%. The late fee will be Rs.20 per day if it is NIL return or
                                            else Rs 50 will be levied if you fail to furnish the return within specified
                                            date. Thus, it will come around Rs.25 under the CGST and again Rs.25 under
                                            the SGST. The total amount to be paid will be Rs.50 per day. The maximum
                                            late fee can be Rs.5000. The IGST do not charge any late fees.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>