<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Director DIN e KYC Update</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/derector_din">Director DIN e KYC Update</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Director DIN e KYC Update | Get it done By <span class="green"> Make Easy
                    </span>
                    <span class="red">Documents</span>
                </h2>
                <p>As per Ministry of Corporate Affairs, it is mandatory for all Directors/Partners to file DIR 3 KYC
                    form (e-kyc) before 30th Sep’21 else Rs. 5000 to be paid as penalty.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-9">
                    <img class="img-fluid" src="assets/img/services/com/1.png" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <p> <br>
                                Director identification number (DIN) is a unique identification number given to a person
                                wanting to be a director or an existing director of a company. <br>
                                In this digitised era,
                                application in eForm DIR-3 was sufficient to obtain DIN. This was a one-time process for
                                any person who wants to be a director in one or more companies. <br>
                                However, now with the
                                move of the Ministry of Corporate Affairs (MCA) to update its registry, all directors
                                with a DIN will have to submit their KYC details annually in eForm DIR-3 KYC.
                            </p>
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Documents Required for Director e KYC <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            • PAN of Director <br>
                                            • Proof of permanent address (Latest Bank Statement/ Electricity Bill) <br>
                                            • Copy of Aadhaar Card (Mandatory for Indian Director) <br>
                                            • Copy of passport if they have the same <br>
                                            • Mobile No (will need OTP for Verification) <br>
                                            • Email (will need OTP for Verification) <br>
                                            • Digital Signature of Director <br>
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>