
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">FSSAI Food License Renewal</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Local Food Licence</a></li>
                <li class="current"><a routerLink="/home">State Food Licence</a></li>
                <li><a routerLink="/food">FSSAI Registration</a></li>
                <li><a routerLink="/food_renew">FSSAI Food License Renewal</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>


    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Renew Your FSSAI Food License with <span class="green"> Make Easy </span>
                    <span class="red">Documents</span>
                </h2>
                <p>FSSAI license is mandatory to be renewed before the expiry validity time, otherwise, apply for a new
                    license.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Penalty for Non-Renewal of FSSAI License <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>If the FBO declines to apply for renewal of the FSSAI Food license within the
                                            directed time limit, a fine of Rs. 100 shall be forced for each day of
                                            delay. If the Food license is not renewed within a defined time, then the
                                            license is recognized as expired and the FBO has to appeal for a new license
                                            if they want to stay or restart their business. Therefore, it is advisable
                                            to renew the FSSAI license on the time and usually for evading penalties.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span> Difference between FSSAI &amp; Food License?
                                        <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>Both FSSAI and Food License are same.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        What are the different types of License? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <div style="overflow-x: auto;">
                                            <table border="1px">
                                                <tr>
                                                    <th>License Type</th>
                                                    <th>Eligibility</th>
                                                    <th>Validity</th>
                                                    <th> Fee
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI Basic License
                                                    </td>
                                                    <td>Annual turnover of the business is less than 12 lakhs </td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:14px;">For 1 year
                                                        <span style="color: red; font-size:12px;"> Rs. 1999/- </span>
                                                        <br>
                                                        For 2 year
                                                        <span style="color: red; font-size:12px;"> Rs. 2499/- </span>
                                                        <br>
                                                        For 3 year
                                                        <span style="color: red; font-size:12px;"> Rs. 2999/- </span>
                                                        <br>
                                                        For 4 year
                                                        <span style="color: red; font-size:12px;"> Rs. 3499/- </span>
                                                        <br>
                                                        For 5 year
                                                        <span style="color: red; font-size:12px;"> Rs. 3999/- </span>
                                                        <br>
                                                        <span
                                                            style="font-weight: 500; font-size: 12px; color: black;">Including
                                                            Govt. Fee Excluding GST
                                                            One Time
                                                            No Hidden Charge </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI State License
                                                    </td>
                                                    <td>Annual turnover of the business is between 12 lakhs to 20 crores
                                                    </td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:15px;"><span
                                                            style="color: red; font-size:15px;">Rs. 3499/-</span> <br>
                                                        Excluding Govt. Fee Excluding GST
                                                        One Time
                                                        No Hidden Charge
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI Central License
                                                    </td>
                                                    <td>Annual turnover of the business is above 20 crores</td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:15px;"><span
                                                            style="color: red; font-size:15px;">Rs. 4499/-</span> <br>
                                                        Excluding Govt. Fee Excluding GST
                                                        One Time
                                                        No Hidden Charge
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

    <section id="allpacakage" style="background-image: url(assets/img/22.jpg);" class="adjustPadding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px; color: white;">Benefits of FSSAI Certificate
                    </h2>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            TRUST OF THE CUSTOMERS
                            <p class="benifits-text">An authentic communication is necessary to gain the customer's
                                trust. It
                                will ensure better service and also keep the customers from unhealthy and adulterated
                                food
                                supply.
                            </p>
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            LEGAL ADVANTAGES
                            <p class="benifits-text">FSSAI Certification will enhance the chance of legal enforcement
                                and control over the department at a certain point and will encourage the establishment
                                of several things to a particular area.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            EXPANSION OF BUSINESS
                            <p class="benifits-text">The FSSAI license will provide a wider scope and privilege of
                                expansion at any geographic location.</p>
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Recognition of Government
                            <p class="benifits-text">Government of India recognizes the FSSAI Registration resulting in
                                to customer trust and huge base of consumers.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 22px;">Who Needs An FSSAI License?
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-md-2 col-xs-6">

                            <div class="food__cont">
                                <img src="assets/img/food/20.svg" class="food__img" alt="canteen">
                                <h2>Canteen</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/21.svg" class="food__img" alt="club">
                                <h2>Club</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/22.svg" class="food__img" alt="dhaba">
                                <h2>Dhaba</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/23.svg" class="food__img" alt="Distributor">
                                <h2>Distributor</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/24.svg" class="food__img" alt="Food-Processor">
                                <h2>Food Processor</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/25.svg" class="food__img" alt="restaurants">
                                <h2>Restaurants</h2>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/26.svg" class="food__img" alt="retailer">
                                <h2>Retailer</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/27.svg" class="food__img" alt="storage">
                                <h2>Storage</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/28.svg" class="food__img" alt="supplier">
                                <h2>Supplier</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/29.svg" class="food__img" alt="Transporter">
                                <h2>Transporter</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/30.svg" class="food__img" alt="wholesaler">
                                <h2>Wholesaler</h2>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="food__cont">
                                <img src="assets/img/food/31.svg" class="food__img" alt="others">
                                <h2>Others</h2>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="allpacakage" style="background-image: url(assets/img/22.jpg);" class="adjustPadding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px; color: white;">Documents Required For FSSAI Food License

                    </h2>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Any Identity Proof document like  Voter ID Card, 
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Aadhaar Card, Ration Card,
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Voter ID Card,

                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            PAN Card, Driving License.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr>
</main><!-- End #main -->