<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Learning Driving Licence</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/driving">Go Back  <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Learning Driving Licence
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="fullName" class="required">Full Name </label>
                            <input type="text" name="fullName" placeholder=" - - -  " class="form-control" id="fullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state" class="required">Select State</label>
                            <select name="state" class="form-control" id="state" required>
                                <option value="" disabled selected> - - - </option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rto" class="required">Select RTO </label>
                            <select name="rto" class="form-control" id="rto" required>
                                <option value="" disabled selected>- - - </option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                                <option value="RTO1">RTO1</option>
                                <option value="RTO2">RTO2</option>
                                <option value="RTO3">RTO3</option>
                                <option value="RTO4">RTO4</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="vehicleType" class="required">Select Vehicle Type</label>
                            <select name="vehicleType" class="form-control" id="vehicleType" required>
                                <option value="" disabled selected>- - - </option>
                                <option value="vehicle1">Motor Cycle </option>
                                <option value="vehicle2">Two Wheeler </option>
                                <option value="vehicle3">Four Wheeler </option>
                                <option value="vehicle4">Four Wheeler TR </option>
                                <option value="vehicle5">Four + Two Wheeler </option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="fatherOrHusbandFullName" class="required">Father / Husband Full Name</label>
                            <input type="text" name="fatherOrHusbandFullName" placeholder=" - - - " class="form-control"
                                id="fatherOrHusbandFullName" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="gender" style="padding-bottom: 10px; ">Gender</label><br>
                            <input type="radio" name="gender" value="male"> Male &nbsp;
                            <input type="radio" name="gender" value="female"> Female &nbsp;
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-md-3">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="date" name="dateOfBirth" placeholder="Date of Birth" class="form-control" id="dateOfBirth"
                                required>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="qualification" class="required">Qualification</label><br>
                            <input type="text" name="qualification" placeholder=" - - - " class="form-control"
                                id="qualification" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="identificationMarks">Identification Marks</label><br>
                            <input type="text" class="form-control" placeholder=" - - - " name="identyMark"
                                id="identyMark" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="bloodGroup">Blood Group</label><br>
                            <input type="text " class="form-control" placeholder=" - - - " name="bloodGroup"
                                id="bloodGroup" required>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-md-4">
                            <label for="emergencyContact" class="required">Emergency Number</label><br>
                            <input type="text" name="emergencyContact" placeholder="- - - " class="form-control" id="emergencyContact"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Email Id</label><br>
                            <input type="email" name="email" placeholder="- - - " class="form-control" id="email">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="address">Address</label><br>
                            <input type="text" name="address" placeholder=" - - - " class="form-control" id="address">
                        </div> <br>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="state">State</label>
                            <input type="text" name="state" placeholder="- - - " class="form-control" id="state" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="district">District </label><br>
                            <input type="text" name="district" placeholder=" - - - " class="form-control" id="district"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="taluka">Taluka</label><br>
                            <input type="text" class="form-control" placeholder=" - - - " name="taluka" id="taluka" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="addressProof" class="required">Address Proof (Adhar/Pan)
                            </label>
                            <input type="file" name="addressProof" placeholder=". . ." class="form-control"
                                id="addressProof" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="passportPhoto" class="required">Passport Photo
                            </label>
                            <input type="file" name="passportPhoto" placeholder=". . ." class="form-control"
                                id="passportPhoto" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="signature">Signature </label><br>
                            <input type="file" name="signature" class="form-control" id="signature" required>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="form-group col-md-4">
                            <label for="medicalCertificate">Medical Certificate</label><br>
                            <input type="file" class="form-control" name="medicalCertificate" id="medicalCertificate">
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->