<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Registered Office Change</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/registered_office">Registered Office Change</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Complete your Registered Office Change (ROC) procedure from our <br> Expert
                    CA
                    panel at <span class="green"> Make Easy</span><span class="red">Documents</span>
                </h2>
                <p>Get 360° Online Assistance in Renaming Your Registered Workplace at an Unbeatable Price!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-9">
                    <img class="img-fluid" src="assets/img/services/com/8.png" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is a Company’s Registered Office?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>While getting incorporated under the Ministry of Corporate Affairs of the
                                            Indian Govt., a business entity is mandated to register a particular
                                            Location as their workplace. This specific Location is known as the
                                            Registered Office of that business entity.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-2"><span>02</span>What is the Registered Office
                                        Change process? <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>Any business entity being registered under the Ministry of Corporate Affairs
                                            (MCA) and Registrars of Companies (ROC) can Change / Alter its registered
                                            workplace.This process is known as the Registered Office Change.</p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-3"><span>03</span>Which Act of the Indian Govt.
                                        oversees the Registered Office Change procedure?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>The Companies Act, 2013 oversees the Registered Office Change procedure in
                                            India with the administrative supervision of the Registrars of Companies
                                            (ROC) and the Ministry of Corporate Affairs (MCA).
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-4"><span>04</span>Why does a Business Entity opt
                                        to Change its Registered Office’s Location?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                        <p> • Better Location <br>
                                            • Reputation Building <br>
                                            • Better Business Opportunity <br>
                                            • To Minimize Operating Costs <br>
                                            • Moving Closer to the Potential Market <br>
                                            • Developing the Business Operation <br>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
    <hr> <br>
    <div class="section-title">
        <h2 style="font-size:25px;">Required Documents for Changing the Registered Office Address
        </h2>
    </div>
    <section class="container">
        <div class="why-us section-bg">
            <div class="accordion-list">
                <ul><br>
                    <li style="text-align: center;">
                        <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>
                            Change within the same Area/City/Village<i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                            <br>
                            <h5>Required Documents -</h5>
                            <p>• The proof of owning the Business Location in the name of the company <br>
                                • If the workplace is taken on Rent / Lease, the Legal Document for the same <br>
                                • In case the particular property is owned by any Director of the company, then the
                                valid
                                documents permitting the Company to use that Location <br>
                            </p>
                        </div>
                    </li>
                    <li style="text-align: center;">
                        <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#accordion-list-2"><span>02</span>Change within the same State but in a
                            separate
                            ROC Jurisdiction area <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                            <h5>Required Documents -</h5>
                            <p>• The proof of owning the Business Location in the name of the company <br>
                                • If the workplace is taken on Rent / Lease, the Legal Document for the same <br>
                                • In case the particular property is owned by any Director of the company, then the
                                valid
                                documents permitting the Company to use that Location <br></p>
                        </div>
                    </li>
                    <li style="text-align: center;">
                        <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#accordion-list-3"><span>03</span>Change of Workplace in a different State<i
                                class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                            <h5>Required Documents -</h5>
                            <p>• Company’s special Resolution approving the Change of Address by its Members <br>
                                • Company’s General Meeting in which the Resolution was Authorized <br>
                                • A Notice expressing the company’s General Meeting containing the related Explanatory
                                Statement <br>
                                • List of the company’s Creditors and Debenture <br>
                                • Power of Attorney <br>
                                • Essential documents related to the Payments <br>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>