<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">FSSAI Food Licence</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li><a routerLink="/food">Food Licence</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Our Expert consultation will help you to get the food licence from the
                    Government</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_image_text"> <br>
                        <p>  *   FSSAI News Update: Food Businesses Can Now Be Fined Rs. 5 Lakh & 6 Months Jail for Not Having Food
                            License. <br> FoSCos registration or license is required for all entities involved in the manufacture,
                            distribution and transportation of food products. <br> ✔ Support all states <br> ✔ 3 Types of License: Local,
                            State & Central <br> ✔ Application in Same (Priority) <br> ✔ 10yrs Experienced FoSCos Expert <br> ✔ Lowest Fees than
                            Other Portals</p>
                        <div class="button-container">
                            <button type="button" routerLink="/local_food" class="subform centered-button">Apply for
                                Local Food Licence </button> <br>
                        </div>
                        <div class="button-container">
                            <button type="button" routerLink="/state_food" class="subform">Apply for State Food
                                Licence </button> <br>
                        </div>
                        <div class="button-container">
                            <button type="button" routerLink="/central_food" class="subform">Apply for Central Food Licence
                            </button>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        What is FoSCos / FSSAI Food License? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            FSSAI launched Food Safety Compliance System (FoSCoS) wef 1st June 2020
                                            replacing existing Food Licensing and Registration System.Food License
                                            Registration certificate is required to run a food product business. You
                                            have to register under Food Safety and Standards Authority of India (FSSAI)
                                            to manufacture, distribute and transport food products. FSSAI is established
                                            under the Ministry of Health & Family Welfare, Government of India. The
                                            FSSAI has been established under the Food Safety and Standards Act, 2006.
                                            FSSAI Certificate and FSSAI License are same which ensures the quality,
                                            purity and other important factors the customers can rely upon.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed"><span>02</span>
                                        What is the difference between FSSAI/FoSCoS/Food License? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            There is no difference between FSSAI, FoSCoS and Food License. These are all
                                            the same.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed"><span>03</span>
                                        What are the different types of License? <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list"> <br>
                                        <div style="overflow-x: auto;">
                                            <table border="1px">
                                                <tr>
                                                    <th>License Type</th>
                                                    <th>Eligibility</th>
                                                    <th>Validity</th>
                                                    <th>Consultation and Legal support Fee
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI FoSCos Basic License
                                                    </td>
                                                    <td>Annual turnover of the business is less than 12 lakhs</td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:14px;">For 1 year
                                                        <span style="color: red; font-size:12px;"> Rs. 1999/- </span>
                                                        <br>
                                                        For 2 year
                                                        <span style="color: red; font-size:12px;"> Rs. 2499/- </span>
                                                        <br>
                                                        For 3 year
                                                        <span style="color: red; font-size:12px;"> Rs. 2999/- </span>
                                                        <br>
                                                        For 4 year
                                                        <span style="color: red; font-size:12px;"> Rs. 3499/- </span>
                                                        <br>
                                                        For 5 year
                                                        <span style="color: red; font-size:12px;"> Rs. 3999/- </span>
                                                        <br>
                                                        <span
                                                            style="font-weight: 500; font-size: 12px; color: black;">No
                                                            Hidden Charge</span> <br>
                                                        Including Govt. Fee Excluding GST
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI FoSCos State License
                                                    </td>
                                                    <td>Annual turnover of the business is between 12 lakhs to 20 crores
                                                    </td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:15px;"><span
                                                            style="color: red; font-size:15px;">Rs. 3499/-</span> <br>
                                                        One Time
                                                        No Hidden Charge
                                                        Excluding Govt. Fee Excluding GST
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>FSSAI FoSCos Central License
                                                    </td>
                                                    <td>Annual turnover of the business is above 20 crores</td>
                                                    <td>1 To 5 Years</td>
                                                    <td style="font-size:15px;"><span
                                                            style="color: red; font-size:15px;">Rs. 4499/-</span> <br>
                                                        One Time
                                                        No Hidden Charge
                                                        Excluding Govt. Fee Excluding GST
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

    <section id="allpacakage" style="background-image: url(assets/img/22.jpg);" class="adjustPadding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px; color: white;">Benefits of FSSAI FoSCos Certificate
                    </h2>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            TRUST OF THE CUSTOMERS
                            <p class="benifits-text">An authentic communication is necessary to gain the customer's
                                trust. It
                                will ensure better service and also keep the customers from unhealthy and adulterated
                                food
                                supply.
                            </p>
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            LEGAL ADVANTAGES
                            <p class="benifits-text">FSSAI Certification will enhance the chance of legal enforcement
                                and control over the department at a certain point and will encourage the establishment
                                of several things to a particular area.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            EXPANSION OF BUSINESS
                            <p class="benifits-text">The FSSAI license will provide a wider scope and privilege of
                                expansion at any geographic location.</p>
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Recognition of Government
                            <p class="benifits-text">Government of India recognizes the FSSAI Registration resulting in
                                to customer trust and huge base of consumers.</p>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px;">Who Needs a FSSAI FoSCos
                        License?
                    </h2>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/1.webp" class="food__img food__img1" alt="canteen">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/2.webp" class="food__img food__img1" alt="club">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/3.webp" class="food__img food__img1" alt="dhaba">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/4.webp" class="food__img food__img1" alt="Distributor">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/5.webp" class="food__img food__img1" alt="Food-Processor">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/6.webp" class="food__img food__img1" alt="restaurants">
                            </div>
                        </div>



                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/7.webp" class="food__img food__img1" alt="retailer">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/8.webp" class="food__img food__img1" alt="storage">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/9.webp" class="food__img food__img1" alt="supplier">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/10.webp" class="food__img food__img1" alt="Transporter">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/11.webp" class="food__img food__img1" alt="wholesaler">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="food__cont food__cont1">
                                <img src="assets/img/food/12.webp" class="food__img food__img1" alt="others">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="allpacakage" style="background-image: url(assets/img/22.jpg);" class="adjustPadding">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px; color: white;">Documents required for new FSSAI registration/licence

                    </h2>
                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Passport-size photo
                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Address proof of business premises (rental agreement, a letter of authorisation from the
                            owner of the rented premises, utility bills, and so on)
                        </li>
                    </ul>

                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            List of food products manufactured or processed

                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Plan for a food safety management system

                        </li>
                    </ul>

                </div>
                <div class="col-md-6 col-sm-12 benifits-small-div">
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Any Identity Proof documents like Aadhaar Card, Ration Card, Voter ID Card, PAN Card, or
                            Driving License.

                        </li>
                    </ul>
                    <ul class="benifits-ul">
                        <li class="benifits-li">
                            Certificate of the business constitution, such as a partnership deed, certificate of
                            incorporation, shop and establishment licence, or other business registration certificate.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- <section class="penalty_area">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 style="font-size: 22px;">Penalties and Offences for Non-compliance
                    </h2>
                    <p>The Food Safety and Standard Authority of India (FSSAI) takes the matters related to the
                        production and processing of food seriously. There is Section 50 to Section 65 that deals with
                        the offenses under the FSSAI 2006. It keeps track of all the necessary requirements that one
                        needs to abide by and follow the compliance policy to avoid being punished. The basic offence is
                        the sale of food without the FSSAI licence for which one can be punished with imprisonment and a
                        penalty of about 5 lakhs. Some of the other offences are:</p>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick"><br>
                        <p>The sale of substandard quality of food is considered as an offence under the FSSAI
                            regulations and a penalty of 5 lakhs is to be paid</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick"><br>
                        <p>The sale of misbranded products is punishable with a penalty of 3 lakhs.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick">
                        <p>The production, processing and storage of food with unethical means is punished with a
                            penalty of 1 lakhs.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick">
                        <p>The production, processing and storage of food with unhealthy means is punished with a
                            penalty of 1 lakhs.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick">
                        <p>There is also a penalty of 5 lakhs if the person suffers because of low quality food.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="penalty_info">
                        <img src="assets/img/food/tick_round.webp" alt="tick">
                        <p>The individual who fails to rectify their mistakes will be faced with shutting down of the
                            business and cancellation of license.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</main><!-- End #main -->