<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Company Registration</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/company">Go Back <i class="bi bi-arrow-left-circle"></i></a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Company Registration
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="fullName" class="required">Full Name</label>
                            <input type="text" name="fullName" placeholder=" - - -  " class="form-control"
                                id="fullName" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="companyName" class="required">Company Name </label>
                            <input type="text" name="companyName" placeholder=" - - -  " class="form-control" id="companyName"
                                required>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="email">Email</label><br>
                            <input type="text" class="form-control" placeholder=" - - - " name="email" id="email"
                                required>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        
                        <div class="form-group col-md-4">
                            <label for="address">Address</label><br>
                            <input type="text" name="address" placeholder="- - - " class="form-control"
                                id="address">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="pincode">Pincode</label><br>
                            <input type="text" name="pincode" placeholder=" - - - " class="form-control"
                                id="pincode">
                        </div> <br>
                        <div class="form-group col-md-4 ">
                            <label for="mobileNumber" class="required">Mobile Number</label><br>
                            <input type="text" name="mobileNumber" placeholder=" - - - " class="form-control" id="mobileNumber"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input type="date" name="dateOfBirth" placeholder="Date of Birth" class="form-control"
                                id="dateOfBirth" required>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharCard" class="required">Adress Card </label>
                                <input type="file" name="aadharCard" placeholder=". . ." class="form-control"
                                    id="aadharCard" required>
                        </div> 
                        <div class="form-group col-md-4">
                            <label for="pancard" class="required">Pan Card</label>
                            <input type="file" name="pancard" placeholder=". . ." class="form-control" id="pancard"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="electricBill">Electric Bill</label><br>
                            <input type="file" name="electricBill" class="form-control" id="electricBill" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="photo">Photo </label><br>
                            <input type="file" name="photo" class="form-control" id="photo" required>
                        </div>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->