<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Legal Consultancy</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/onlineLegalAdvice">Online Legal Advice </a></li>
                <li><a routerLink="/legalNotice">Legal Notice</a></li>
                <li><a routerLink="/devorce">Advice on Divorce</a></li>
                <li><a routerLink="/mahsul">महसूल लिगल</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Get Legal consultancy Online</h2>
            <p>"Legal Clarity, Online Convenience"</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/1.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Legal Advice Online</a></h4>
                    <p class="description">Online Legal Help is the way to provide assistance to the people who is not
                        able to access the court easily.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/2.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Send Legal Notice</a></h4>
                    <p class="description">Draft your Legal Notice online with help of experienced advocates in India
                        through <span class="green">Make easy </span> <span class="red">documents</span>.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/3.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Rent Deed Drafting</a></h4>
                    <p class="description">Draft your rent agreement by top lawyers online. Save Money, Save Time,
                        Hassle Free Service, 100% Online.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/4.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Partnership Deed Drafting</a></h4>
                    <p class="description">A team of lawyers from Online Legal India will draft your partnership deed
                        online. No need to visit office.
                    </p>
                </div>
            </div>

        </div> <br>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/5.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Sale Deed Drafting</a></h4>
                    <p class="description">A team of expert from Online Legal India will draft your sale deed. No need
                        to visit office.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/6.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Lease Deed Drafting</a></h4>
                    <p class="description">A team of expert from Online Legal India will draft your Lease Deed. No need
                        to visit office.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/7.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Divorce Online</a></h4>
                    <p class="description">Get Advice from An Experienced Divorce Lawyer | On Call Support | Divorce
                        Filing
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div>
                        <img class="img-fluid" src="assets/img/services/legal/8.jpg" alt="">
                    </div> <br>
                    <h4 class="title"><a href="">Joint Venture Deed</a></h4>
                    <p class="description">Lawyer of Online Legal India can assist you to draft Joint Venture Agreement
                        online.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Services Section -->

