
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Credit Management Analysis</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/credit_analysis">Credit Management Analysis</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Faster Credit Management Analysis
                    by Expert CA/CS</h2>
                <p>&nbsp; If you cannot prove that you can repay the loan amount or your business is
                    profitable enough, the bank or investor will not issue a loan for business development.
                    Feeling depressed and stressed how to create such a C.M.A.? Contact us now to make a CMA
                    report online. We have 10 years of experience in CA/CS that will prepare an authentic
                    CMA report according to your requirement to get instant loan sanction from the
                    investors.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="" method="post" role="form" class="info">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fullName">Enter Full Name</label>
                                <input type="text" name="fullName" placeholder=" - - - " class="form-control" id="fullName" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" placeholder=" - - - " name="email" id="email" required>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" placeholder=" - - - " class="form-control" id="address" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" placeholder=" - - - " class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="pincode">Pincode</label><br>
                                <input type="number" class="form-control" placeholder=" - - - " name="pincode" id="pincode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="mobileNumber">Mobile Number</label><br>
                                <input type="number " class="form-control" placeholder=" - - - " name="mobileNumber" id="mobileNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label><br>
                                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div> 
                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list"> <br>
                            <h4>Fundamentals of Credit Management Analysis Report
                            </h4>
                            <div>
                                <img class="img-fluid" src="assets/img/services/com/1.webp" alt="">
                            </div>
                            <p>&nbsp; Credit Management Analysis (C.M.A.) is a way to review the financial statements of
                                a startup or a project where a detailed analysis of credit will be displayed. Analysis
                                of cash flows, drainage of cash, replaying of loan amount strategy, and the profitable
                                amount of the project are mentioned. Hence, it is the analysis of borrowers’ ability to
                                repay loans and profit generation analytical report. The quality of the business
                                compared to market trends in the competitive landscape is the way to assess the
                                borrower's creditworthiness. If the CMA report is positive, it will generate profit.
                                Then only the investors or banks will offer a reasonable loan to your business.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>