<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Uddyam Aadhar</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/uddyam">Uddyam Aadhar</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title --><br>
<section id="contact" class="contact" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2 style="font-size:25px;">Uddyam Aadhar
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 mt-10 mt-lg-0 align-items-stretch">
                <form action="" method="post" role="form" class="info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="ownerFullName" class="required">Owner Full Name</label>
                            <input type="text" name="ownerFullName" placeholder=" - - -  " class="form-control" id="ownerFullName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="panCardNumber" class="required">Pan Card Number </label>
                            <input type="text" name="panCardNumber" placeholder=" - - -  " class="form-control"
                                id="panCardNumber" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="aadharCardNumber" class="required">Aadhar Card Number</label>
                            <input type="text" name="aadharCardNumber" placeholder=" - - -  " class="form-control"
                                id="aadharCardNumber" required> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="casteCategory" class="required">Select Type Of Cast</label>
                            <select name="casteCategory" class="form-control" id="casteCategory" required>
                                <option value="" disabled selected>- - - </option>
                                <option value="vehicle1">Open / OBC</option>
                                <option value="vehicle2">SC</option>
                                <option value="vehicle3">SBC </option>
                                <option value="vehicle4">ST</option>
                                <option value="vehicle5">VJ</option>
                                <option value="vehicle6">NT</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="gender" style="padding-bottom: 10px;" id="gender">Gender</label><br>
                            <input type="radio" name="gender" value="male"> Male &nbsp;
                            <input type="radio" name="gender" value="female"> Female &nbsp;
                            <input type="radio" name="gender" value="other"> Other
                        </div>
                        <div class="form-group col-md-4">
                            <label for="businessName" class="required">Business Name</label>
                            <input type="text" name="businessName" placeholder=" - - -  " class="form-control"
                                id="businessName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="mobileNumber" class="required">Mobile Number</label><br>
                            <input type="text" name="mobileNumber" placeholder=" - - - " class="form-control" id="mobileNumber" required>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label for="email" class="required">Email</label><br>
                            <input type="email" name="email" placeholder="- - - " class="form-control"
                                id="email" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="businessStartDate">Business Start Date</label><br>
                            <input type="date " class="form-control" placeholder=" - - - " name="businessStartDate" id="businessStartDate"
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="numberOfEmployees">Number Of Employees</label><br>
                            <input type="text" name="numberOfEmployees" placeholder=" - - - " class="form-control" id="numberOfEmployees">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="natureOfBusiness">Nature Of Business</label><br>
                            <input type="text" name="natureOfBusiness" placeholder="- - - " class="form-control" id="natureOfBusiness">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="bussinessInvestment">Bussiness Investment</label>
                            <input type="text" name="bussinessInvestment" placeholder="- - - " class="form-control"
                                id="bussinessInvestment" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="bankName">Bank Name </label><br>
                            <input type="text " class="form-control" placeholder=" - - - " name="bankName"
                                id="bankName" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="accountNumber">Account Number</label><br>
                            <input type="text" name="accountNumber" placeholder=" - - - " class="form-control"
                                id="accountNumber">
                        </div> <br>
                        <div class="form-group col-md-4">
                            <label for="IFSC">IFSC code</label><br>
                            <input type="date" name="IFSC" placeholder="- - - " class="form-control"
                                id="IFSC">
                        </div> <br>

                    </div>
                    <div class="row">
                        <div class="Uplodedc" form-group>
                            <h4>- Upload Required Documents -</h4>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="aadharCard" class="required">Aadhar Card
                            </label>
                            <input type="file" name="aadharCard" placeholder=". . ." class="form-control"
                                id="aadharCard" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="panCard">panCard</label><br>
                            <input type="file" name="panCard" class="form-control" id="panCard"
                                required>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="center-button btn btn-success">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->