<!-- Hero Section -->
<section id="hero" class="hero section">

  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <img src="assets/img/hero-carousel/back3.png" alt="">
      <div class="container">
        <h2>Wellcome to <span class="green"> Make Easy </span> <span class="red">Documents</span></h2>
        <h3>Documents Is now Simple </h3>
        <a href="#call-to-action" class="btn-get-started">Our Company </a>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="assets/img/hero-carousel/back2.jpg" alt="">
      <div class="container">
        <h2>Wellcome to <span class="green"> Make Easy </span> <span class="red">Documents</span></h2>
        <h3>Documents Is now Simple </h3>
        <a href="#call-to-action" class="btn-get-started">Our Company </a>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="assets/img/hero-carousel/hero-carousel-3.jpg" alt="">
      <div class="container">
        <h2>Wellcome to <span class="green"> Make Easy </span> <span class="red">Documents</span></h2>
        <h3>Documents Is now Simple </h3>
        <a href="#call-to-action" class="btn-get-started">Our Company </a>
      </div>
    </div><!-- End Carousel Item -->

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
    <ol class="carousel-indicators"></ol>
  </div>
</section><!-- /Hero Section -->



<!-- Call To Action Section -->
<section id="call-to-action" data-aos="fade-right" class="call-to-action section">
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <div id="google_translate_element"></div>
        <h3>Call to Action</h3>
        <p>" Embrace innovation and elevate your business to new heights with our unparalleled services. At <span
            class="green"> Make Easy</span><span class="red">Documents</span>
          ,
          we are committed to delivering excellence and exceeding your expectations every step of the way.
          Whether you're looking to streamline operations, boost efficiency, or unlock new opportunities, our dedicated
          team is here to help. Take charge of your success today and partner with us to achieve your goals faster and
          smarter. Contact us now to begin your journey towards a brighter future. "
        </p>
      </div>
      <div class="col-xl-3">
        <a style="margin-top: 50px;" class="cta-btn align-middle" href="#">Call To Action</a>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-down">
    <h2>Our Services</h2>
    <p>"Empowering Your Tomorrow, Today!"</p>
  </div><!-- End Section Title -->
  <div class="container">
    <div class="row gy-4">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div>
            <img class="img-fluid" src="assets/img/services/pann.jpg" alt="">
          </div>
          <a routerLink="/pan" class="stretched-link">
            <h3>PAN Services</h3>
          </a>
          <p>Being a Consumer, at the time of purchase, one if deceived by the seller should be aware</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\trademark.webp" alt="">
          </div>
          <a routerLink="/tred" class="stretched-link">
            <h3>Trademark Registration Online</h3>
          </a>
          <p>Get your Trademark registration from anywhere in India and protect your Brand Name/Logo/Slogan.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\GST-LOI.webp" alt="">
          </div>
          <a routerLink="/gst" class="stretched-link">
            <h3>GST Services</h3>
          </a>
          <p>Outsource your GST compliance to Online Legal India. India’s fastest growing online corporate services.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\fssai.webp" alt="">
          </div>
          <a routerLink="/food" class="stretched-link">
            <h3>FSSAI Registration</h3>
          </a>
          <p>Get FSSAI certificate & license no. to utilize on your products and website as well.</p>

        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\Corporate-Related-Services-OLI.webp" alt="">
          </div>
          <a routerLink="/company" class="stretched-link">
            <h3>Company Registration</h3>
          </a>
          <p>It includes all the forms of company registration, compliances, PAN and TAN, GST, change of Registered
            Address</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\iec-banner-1-1.webp" alt="">
          </div>
          <a routerLink="/import" class="stretched-link">
            <h3>Import Export Code Registration</h3>
          </a>
          <p>Register your import export business under Directorate General of Foreign Trade, Ministry of Commerce and
            Industry, Govt. of India.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\digital-signature.jpg" alt="">
          </div>
          <a routerLink="/digital" class="stretched-link">
            <h3>Digital Signature Certificate</h3>
          </a>
          <p>Instant apply paperless aadhaar eKYC digital signature certificate through Online Legal India™ an
            authorized partner of eMudhra.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\legal-advice-OLI.webp" alt="">
          </div>
          <a routerLink="/legal" class="stretched-link">
            <h3>Legal Consultancy</h3>
          </a>
          <p>We provide the legal services to the weaker section of the society so that they get the opportunity</p>

        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\income-tax.webp" alt="">
          </div>
          <a routerLink="/itr" class="stretched-link">
            <h3>ITR Filing Online</h3>
          </a>
          <p>An Income tax return (ITR) is a form used to file information about your income and tax to the Income Tax
            Department.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\fssai-renewal-1.webp" alt="">
          </div>
          <a routerLink="/food_renew" class="stretched-link">
            <h3>FSSAI Food License Renewal</h3>
          </a>
          <p>FSSAI license is mandatory to be renewed before the expiry validity time, otherwise, apply for a new
            license.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\OLI-accountant-1.webp" alt="">
          </div>
          <a href="#" class="stretched-link">
            <h3>Online Accounting Services</h3>
          </a>
          <p>OLI Accountant will help you to register & filing PF, ESIC, Ptax, TDS & Online HR service.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div>
            <img class="img-fluid" src="assets\img\services\1.jpg" alt="">
          </div>
          <a routerLink="/mahsul" class="stretched-link">
            <h3> महसूल लिगल Consultant</h3>
          </a>
          <p> Services :- नवीन शर्यत , महारवतन , कुळ कायदा , ३२ ग , पुनर वसण , सरकार आकारी पड , अधिवाशी ३६ ब , ३६ अ ,
            कोर्ट matters </p>

        </div>
      </div><!-- End Service Item -->
    </div>

  </div>

</section><!-- /Services Section -->


<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="row feature_1 text-center mb-4">
        <div class="col-md-12">
          <div class="section-title">
            <h2 class="title_about" style="text-align-last: center;"> Our Brands </h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/brands/brand1.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/brands/brand2.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/brands/brand3.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
        <img src="assets/img/brands/brand4.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section id="feature" class="p_3">
  <div class="container-xl">
    <div class="row feature_1 text-center mb-4">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title_about" style="text-align-last: center;"> Why Us ? </h2>
          <p> " Choose Quality, Choose Us – Where Excellence Meets Expectations! " </p>
        </div>
      </div>
    </div>
    <div class="row feature_2">
      <div class="col-md-3">
        <div class="feature_2i feature_2i2 text-center border_5 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block col_green"><img class="img-fluid" src="assets\img\why\recognized.svg"
              alt="" style="width: 50px;"></span>
          <h5 class="mt-3">Recognized by Govt. of India</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block"><img class="img-fluid" src="assets\img\why\happy_customers.svg" alt=""
              style="width: 55px;"></span>
          <h5 class="mt-3">550+ Happy Customers</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block col_oran"><img class="img-fluid" src="assets\img\why\iso-mark.webp"
              alt="" style="width:55px;"></span>
          <h5 class="mt-3">ISO Certified</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i2 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block"><img class="img-fluid" src="assets\img\why\data_security.svg" alt=""
              style="width: 55px;"></span>
          <h5 class="mt-3">Data Security & Trust</h5>
          <hr class="line mx-auto">
        </div>
      </div>
    </div>
    <br>
    <div class="row feature_2">

      <div class="col-md-3">
        <div class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3">
          <span class="radius_10 d-inline-block"><img class="img-fluid" src="assets\img\why\experts.svg" alt=""
              style="width: 55px;"></span>
          <h5 class="mt-3">Trained & Professional Experts</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block col_oran"><img class="img-fluid" src="assets\img\why\on-time.svg" alt=""
              style="width: 55px;"></span>
          <h5 class="mt-3">On Time Service</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i4 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block"><img class="logos img-fluid" src="assets\img\why\quick.svg" alt=""
              style="width: 55px;"></span>
          <h5 class="mt-3">Super Fast Service</h5>
          <hr class="line mx-auto">
        </div>
      </div>
      <div class="col-md-3">
        <div class="feature_2i feature_2i3 text-center border_1 p-4 px-3 rounded-3 hvr-float">
          <span class="radius_10 d-inline-block col_oran"><img class="logos img-fluid"
              src="assets\img\why\users_oli_Jan_22.svg" alt="" style="width: 55px;"></span>
          <h5 class="mt-3">Quick Response Team</h5>
          <hr class="line mx-auto">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call To Action Section -->
<section id="call-to-action" data-aos="fade-right" class="call-to-action section">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <h3>How does <br><span class="green"> Make Easy </span> <span class="red">Documents</span><br> Ensure Customer
          Satisfaction</h3> <br>
        <p> We have created the system of <span style="font-weight: bold;">HAPPY CODE</span> to measure customer
          satisfaction. As part of this, our customers are
          sent a unique alphanumeric code, consisting of 8 characters. We track customer satisfaction by asking the
          clients to share their happy codes with our agents only if they are generally pleased with our services. Since
          we are a customer-centric company always prioritizing the success of our clients, the <span
            style="font-weight: bold;">HAPPY CODE</span> program helps
          us to gauge the customers’ happiness and loyalty in our products or services.
        </p>
      </div>
      <div class="col-xl-5">
        <img class="img-fluid" src="assets\img\services\happy-code-pic.webp" alt="">
      </div>
    </div>
  </div>
</section>
<!-- ======= serve Section ======= -->
<!-- <section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="section-title">
        <h2 class="title_about" style="text-align-last: center;"> Why Us ? </h2>
        <p> " Choose Quality, Choose Us – Where Excellence Meets Expectations! " </p>
      </div>
      <div class="col-lg-6">
        <div class="accordion-list ">
          <ul>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\recognized.svg" alt="" style="width: 50px;"></span>
                &nbsp; Recognized by Govt. of India </a>
            </li>
            <br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-7" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\happy_customers.svg" alt="" style="width: 55px;"></span>
                550+ Happy Customers in India </a>
            </li>
            <br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-8" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\iso-mark.webp" alt="" style="width:55px;"></span> &nbsp;
                ISO Certified </a>
            </li><br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-9" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\data_security.svg" alt="" style="width: 55px;"></span>
                &nbsp; Data
                Security & Trust </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6  ">&nbsp;
        <div style="margin-top: -28px;" class="accordion-list">
          <ul>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-10" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\experts.svg" alt="" style="width: 55px;"></span> &nbsp;
                Trained & Professional Experts </a>
            </li><br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-11" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\on-time.svg" alt="" style="width: 55px;"></span> &nbsp;
                On Time Service</a>
            </li><br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-13" class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\quick.svg" alt="" style="width: 55px;"></span> &nbsp;
                Super Fast Service </a>
            </li><br>
            <li id="serve_li">
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-14  " class="collapsed"><span><img
                    class="logos img-fluid" src="assets\img\why\users_oli_Jan_22.svg" alt=""
                    style="width: 55px;"></span> &nbsp; Quick
                Response Team</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-footer></app-footer>


<!-- 
mahsul(marathi) legal consultant 

services :- navin sharyat , maharvatan , kul kayda ,32 g ,punar vasan ,sarkar akhari pad ,
 adhivashi 36 b, 36 a , cort matters

-->