
<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">LLP Winding up</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a routerLink="/home" class="active">Home</a></li>
                <li class="current"><a routerLink="/llp_winding">LLP Winding up</a></li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<main id="main"> <br>
    <section id="contact" class="contact" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 style="font-size:25px;">Apply for Complete LLP Winding Up & Get Approval from the Govt. of India and
                    Registrar of Companies (ROC)
                </h2>
                <p>Get 360° Online Assistance from India’s Recommended CA Panel in the Complete & Quick LLP Closure and
                    Winding Up Process
                </p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid" src="assets/img/services/com/5.jpg" alt="">
                </div>
            </div> <br>
            <div class="row">
                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="career.php" method="post" role="form" class="info" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="middlename">Middle Name</label><br>
                                <input type="text" name="middlename" class="form-control" id="middlename" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="lastname">Last Name</label><br>
                                <input type="email" class="form-control" name="lastname" id="lastname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="email">Your Email</label><br>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" name="address" class="form-control" id="address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="city">City</label><br>
                                <input type="text" name="city" class="form-control" id="city" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label><br>
                                <input type="text" name="state" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="zipcode">Pincode</label><br>
                                <input type="number" class="form-control" name="zipcode" id="zipcode" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="number">Mobile Number</label><br>
                                <input type="number " class="form-control" name="number" id="number" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dob">Date of Birth</label><br>
                                <input type="date" name="dob" class="form-control" id="dob" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-7">
                                <label for="photo">Identy Size photo </label><br>
                                <input type="file" name="photo" class="form-control" id="photo">
                            </div> <br>


                        </div>
                        <div class="form-group col-md-7">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6">
                    <div class="why-us section-bg">
                        <div class="accordion-list">
                            <p>
                                The Govt. of India has enacted the Limited Liability Partnership (LLP) Settlement
                                Scheme, 2020, that overviews the LLP related issues in the country. Get the country’s
                                recommended CA Panel’s assistance from <span class="green"
                                    style="color: rgb(17, 194, 17);">Make Easy</span><span class="red"
                                    style="color: rgb(238, 71, 15);">Documents</span>™ to complete the LLP Closure /
                                Winding Up procedure following the provisions of the Scheme, LLP Act, 2008, and the
                                Registrar of Companies (ROC).
                            </p>
                            <ul><br>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-1"><span>01</span>
                                        Reasons for Winding Up a LLP<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>By filing the Form-24 of Limited Liability Partnership (Amendments) Rules,
                                            2017, a concerned personnel can close down an LLP. The frequent reasons are
                                            namely:
                                            <br>
                                            • Not having 2 Directors/Partners on the Board <br>
                                            • Economic Condition <br>
                                            • Low Profits <br>
                                            • Tough Competition <br>
                                            • Management Issue <br>
                                            • Lack of Capital <br>
                                            • Unanticipated Event <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-2"><span>02</span>Benefits of Carrying Out LLP
                                        Winding Up Process <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            • Country’s most Efficient CA panel will be Managing LLP Winding Up
                                            Procedure<br>
                                            • In-house Advisory Panel always available for in-depth Business & other
                                            assistance<br>
                                            • Step-by-step Online guidance to get completed with LLP Winding Up
                                            Process<br>
                                            • Free Consultations Available at Just a Click!<br>
                                            • Quickest Winding up Service at an Unbeatable Price<br>
                                            • Call, E-mail, Chat Support available in 6 different languages including
                                            English<br>

                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-3"><span>03</span>Required Activities before
                                        initiating the Winding Up of LLP Closure <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>The LLP winding up process can be initiated by carrying out the followings:
                                            <br>
                                            • Ceasing all business operations <br>
                                            • Close bank accounts opened in the name of the LLP <br>
                                            • Paying all the creditors <br>
                                            • Chucking out all the properties/ assets to pay the liabilities <br>
                                            • Must not own any liability <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse"
                                        data-bs-target="#accordion-list-4"><span>04</span>Who can Wind Up a LLP?<i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                                        <p>The winding up process of a registered LLP can be initiated in two ways:
                                            <br>
                                            <span>Voluntarily Winding Up :</span> <br>

                                            Here the partners of the concerned LLP can decide by themselves and close
                                            down the LLP by following the necessary legal steps as per the ROC. The
                                            decision should be authorized by 3/4th of the total numbers of partners.
                                            <br>
                                            <span>Compulsory winding up by Tribunal :</span> <br>
                                            The ROC can initiate the process of closing down a particular LLP that has
                                            not executed any business operation and Appliance filing for more than one
                                            year. It also takes place in case the particular LLP is convicted of being
                                            associated with any illegal or fraudulent instance.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main>
